.chat-box {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 125px;
  z-index: 100;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 8px #666;
}
.chat-inner {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 450px;
}
.chat-header {
  background-color: #efefef;
  padding-bottom: 5px;
}
.chat-controls {
  background-color: #ef6c00;
  text-align: right;
  padding: 0 0.5rem;
  display: flex;
}
.chat-controls a.chat-close, .chat-controls a.chat-min {
  color: #fff;
}
.chat-controls a.chat-close:hover, .chat-controls a.chat-min:hover {
  text-decoration: none;
}
.chat-controls a.chat-option {
  background-image: url(../images/q-menu-white.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  align-self: center;
}
.chat-controls a {
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.chat-board {
  display: flex;
  padding-left: 0.5rem;
  box-shadow: 0 1px 3px #999;
  position: relative;
  z-index: 5;
}
.chat-board img {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  display: block;
  margin-top: -1rem;
}
.chat-board-name {
  padding-top: 5px;
  padding-left: 1rem;
  color: #000;
  line-height: 1rem;
}
.chat-board-name span {
  display: block;
  color: #666;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.25rem 0;
}
.chat-mute {}
.muted {}
.chat-body {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2);
  padding-top: 0.5rem;
	 position: absolute;
    top: 90px;
    bottom: 70px;
    left: 0;
    right: 0;
}
.chat-message {
  display: flex;
  padding: 0.5rem;
  padding-bottom: 2px;
}
.chat-message img {
  width: 36px;
  height: 36px;
  border-radius: 36px;
}
.chat-message-content {
  border-radius: 5px;
}
.chat-box .received .chat-message-content {
  margin-left: 1rem;
}
.chat-box .received .chat-message-body {
  background-color: #efefef;
}
.chat-box .received .chat-message-footer {
  text-align: right;
}
.chat-box .sent .chat-message-content {
  margin-right: 1rem;
}
.chat-box .sent .chat-message-body {
  background-color: #ffe2c7;
}
.chat-message-footer {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}
.point {
  padding-bottom: 0.5rem;
  padding-top: 0;
}
.chat-spacer {
  flex: 1 1 auto;
}
.chat-spacer a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/q-menu-black.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.5rem;
  cursor: pointer;
  opacity: 0.1;
  transition: all 0.4s;
}
.chat-message:hover .chat-spacer a {
  opacity: 0.8;
}
.sent .chat-spacer {
  text-align: right;
}
.chat-message-content {
  max-width: 200px;
  position: relative;
  align-self: center;
}
.chat-message-date {
  text-align: center;
  font-size: 0.95rem;
  color: #666;
  line-height: 1rem;
  padding: 0.5rem 0;
}
.chat-message-header {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 0;
  display: flex;
}
.chat-message-header a {
  color: #1e88e5;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  font-weight: 400;
  height: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
}
.chat-message-header span {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}
.chat-message-body {
  padding: 0.75rem 1.5rem;
  position: relative;
  z-index: 2;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 1rem;
}
.chat-message-header ~ .chat-message-body {}
.chat-message-image {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  width: 36px;
}
.chat-message-image img {
  display: block;
}
.chat-box .received.point .chat-message-content:after {
  display: block;
  content: " ";
  background-color: #efefef;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -0.25rem;
  bottom: 2rem;
  /*transform: rotate(45deg);*/
  transform: skew(-45deg, 0);
}
.chat-box .sent.point .chat-message-content:after {
  display: block;
  content: " ";
  background-color: #ffe2c7;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: -0.25rem;
  bottom: 2rem;
  /*transform: rotate(45deg);*/
  transform: skew(45deg, 0);
}
.chat-footer {
  /*position: relative;*/
}
.chat-footer-wrap {
  display: flex;
  position: absolute;
  padding: 0.5rem 0 1rem 0.5rem;
  background-color: #efefef;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
}
.chat-message-input {
  padding: 0.25rem 0.5rem;
  min-height: 1rem;
  background-color: #fff;
  flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 5px;
}
.chat-message-input img {
  max-width: 60px;
}
.chat-message-button {
  align-self: flex-end;
  width: 60px;
  height: 45px;
  background-image: url(../images/icon-send.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  flex: 0 0 auto;
}
.chat-message-add-attachment {
  color: #333;
  padding: 0 0.5rem;
  border-radius: 1rem;
  border: #333 solid 1px;
  align-self: flex-end;
  margin-right: 0.5rem;
}
.chat-notify {
  display: none;
}
.chat-notify label {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  top: 2px;
  right: 2px;
  background-color: #f00;
  border-radius: 20px;
  padding: 5px 8px;
  color: #fff;
  box-shadow: 1px 1px 4px #999;
  z-index: 6;
}
.chat-minimized {
  border-radius: 5px;
  width: 62px;
  right: 5px;
  bottom: 5px;
}
.chat-minimized .chat-inner {
  min-height: auto;
}
.chat-minimized.chat-box {
  top: 60px;
  bottom: auto;
}
.chat-minimized .chat-body, .chat-minimized .chat-footer {
  display: none;
}
.chat-minimized .chat-board {
  box-shadow: none;
}
.chat-minimized .chat-controls a, .chat-minimized .chat-board-name {
  display: none;
}
.chat-minimized .chat-notify {
  display: block;
}
.chat-minimized .chat-controls {
  background-color: #fff;
}
.mute .chat-board {
  background-image: url(../images/icon-mute.png);
  background-repeat: no-repeat;
  background-position: 99% center;
}
.control_msg {
  background-color: #efefef;
  padding: 0.3rem 1rem;
  width: 200px;
  margin: 0.75rem auto;
  text-align: center;
  font-weight: 300;
  border-radius: 30px;
  font-size: 0.9rem;
  line-height: 1rem;
}
/* Extra small devices (phones, 480px and down) */
@media only screen and (min-width: 480px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .chat-box {
    position: fixed;
    right: 75px;
    bottom: 0;
    top: auto;
    left: auto;
    width: 320px;
  }
	.chat-body {
		 top: 80px;
    	bottom: 50px;
	}

  .chat-minimized {
    width: 62px;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
  }
  .chat-minimized.chat-box {
    top: auto;
  }
.chat-controls a {
  padding: 5px 0.5rem;
	}
	.chat-message-button {
		 width: 36px;
  		height: 26px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}