.strip-white, .bg-white {
	background-color: #fff;
}
.strip-gray, .mobile-gray {
	background-color: #efefef;
}
.strip-light-gray, .mobile-light-gray, .bg-gray {
	background-color: #f4f4f4;
}
.strip-orange, .mobile-orange, .bg-orange {
	background-color: #ffe2c7;
}
.strip-blue, .mobile-blue, .bg-blue {
	/*
	background-color: #e7f3ff;
	*/
	background-color:#f1f8ff;
}
.bg-yellow {
	background-color: #fff9c4 ;	
}
.bg-green {
	/*background-color:#dcffd7;	*/
	background-color: #abebc6;
}
.bg-red {
	background-color: #f1948a ;
}
.txt-orange {
	color:  #ef6c00 ;
}
.bg-cream {
	background-color: var(--color-cream);
}
.txt-red {
	color:#f00;	
}
.txt-gray {
	color: #666;
}
.txt-light-gray{
	color:#999;	
}
.txt-black {
	color:#000;	
}
.txt-white {
	color:#fff;	
}
.txt-blue {
	color: #1e88e5;
}
.txt-green {
	color: #309a1c;
}
.txt-light {
	font-weight: 300;
}
.txt-bold {
	font-weight: 500;
}
.txt-s {
	font-size: 1rem;
	line-height:1.5rem;
}
.txt-m {
	font-size: 1.3rem;
	line-height:2rem;	
}
.txt-large, .txt-l {
	font-size: 1.5rem;
	line-height:2rem;
}
.txt-xl {
	font-size: 1.8rem;
	line-height:2.4rem;
}
.txt-left {
	text-align:left;	
}
.txt-right{
	text-align:right;	
}
.txt-center{
	text-align:center;	
}
.txt-vspace {
	line-height:2.8rem;	
}
.upper {
	text-transform:uppercase;	
}
.strike {  text-decoration: line-through;}
.is-relative {
	position:relative;	
}
.is-centered {
	margin:auto;	
}
.round {
	border-radius:5px;	
}
.hidden {
	display:none;	
}
.nolink {
	cursor:default;	
}
.linked {
	cursor:pointer;
}
.linked:hover {
	background-color:var(--color-blue-light);
}
.noshadow {
	box-shadow:none;	
}
.nomargin {
	margin:0;	
}
.max-800 {
	max-width:800px;
	box-sizing:border-box;	
}

.max-600 {
	max-width:600px;
	box-sizing:border-box;	
}

.max-400 {
	max-width:400px;	
	box-sizing:border-box;	
}
.hover:hover {
	background-color: #e7f3ff;
}
.wrap {
	flex-wrap: wrap;
}
.pulse {
	background-image:url(../images/rolling-tiny-blue.gif)!important;
	background-position:center;
	background-repeat:no-repeat;	
}
.action-required {
	background-image:url(../images/error-icon-32.png);
	background-repeat:no-repeat;
	background-position:15px center;
	padding-left:55px;
}