/************** Orginal calss adjestments ***********/
a {
	color: #1e88e5;
}
.container {
	
}
.header-strip {
	background-color: #fff;
}
.container#header {
	width:98%;	
}
.dash-strip {
	padding: 30px 0;
	background-color: #f4f4f4;
	min-height: 90vh;
}
.button, .link-button {
	padding: 0.75rem 1.5rem;

}
.column-2, .column-3, .column-4, .column-31, .column-41 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.dash-link {
	font-size: 1rem;
	cursor: pointer;
}
/************* Side menu ************/
.dash-side {
	display: flex;
	box-sizing: border-box;
	background-color: #fff;
	position: absolute;
	z-index: 3;
	top: -30px;
	left: 0;
	right: 0;
}
.dash-menu {
	border: var(--color-gray-1) solid 1px;
	border-radius: 3px;
	display: flex;
	width: 100%;
}
.dash-menu-wrapper {
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 100%;
	box-shadow: -6px 6px 12px #ccc;
	display: none;
}
.dash-menu > .dash-sep {
	display: none;
}
.dash-contents {
	width: 100%;
	box-sizing: border-box;
	margin-top: 4rem;
	z-index: 2;
}
.dash-body-inner {
	display: flex;
}
.dash-menu .sep {
	flex: 1 1 auto;
}
.dash-contents > .panel {
	min-height:700px;	
}
.menu-link {
	display: block;
	padding: 1rem 3rem;
	color: #333;
	cursor: pointer;
}
.menu-link:hover {
	text-decoration: none;
	background-color: #ffe2c7;
}
.dash-menu-button {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../images/context-menu.png);
	position: absolute;
	right: 0.5rem;
	top: 25%;
	cursor: pointer;
}
/** Dashboard **/
.dash-box {
	border:var(--color-gray-1) solid 1px;
	border-radius:3px;
	background-color:#fff;
}
.dash-box-header {
	font-size:1.3rem;
	padding:0.5rem 1rem;
	font-weight:500;
	margin-bottom:1rem;
	color:#1e88e5;
	text-transform:uppercase;
}
.dash-box-sep {
	
}
.box-row {

	border-bottom:var(--color-gray-1) solid 1px;	
}
.box-row:last-child {
	border:none;	
}
.box-cell {
	padding:0.5rem;	
	box-sizing:border-box;
	align-self:center;
}

.box-cell img {
	width:64px;
	border-radius:64px;	
}

.dash-box-body {
	
}
.cell-width-10 {
	width:10%;
}
.cell-width-20 {
	width:20%;
}
.cell-width-25 {
	width:25%;
}
.cell-width-30 {
	width:30%;
}
.cell-width-40 {
	width:40%;
}
.cell-width-50 {
	width:50%;
}
.cell-width-60 {
	width:60%;
}

/** Profile selection ********/
.dash-profile-outer {
	display: flex;
	position: relative;
}
.profile-selection {
	display: none;
	position: absolute;
	left: 1px;
	right: 0;
	top: 100%;
	z-index: 3;
	box-shadow: 0 4px 8px #ccc;
}
.profile-selection a {
	display: flex;
	padding: 2px;
	border-top: var(--color-gray-1) solid 1px;
	background-color: #efefef;
	cursor: pointer;
}
.profile-selection a:hover {
	text-decoration: none;
	background-color: #ffe2c7;
	color: #ef6c00;
}
.profile-selection a img {
	height: 50px;
}
.profile-selection a span {
	padding-left: 0.5rem;
	align-self: center;
}
.profile-selection a label {
	display: block;
	font-weight: 300;
	color: #666;
	font-size: 0.9rem;
	line-height: 1.1rem;
}
/*********** profile section*******/
.dash-profile {
	display: flex;
	padding: 0.5rem 0.5rem 0 0.5rem;
}
.dash-profile img {
	width: 48px;
	height: 48px;
	border-radius: 64px;
	border: #ccc solid 1px;
}
.user-header-img {
	position: relative;
	align-self: start;
}
.icon-capture {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	left: 44px;
	bottom: -27px;
	cursor: pointer;
}
.dash-profile-name {
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	display: block;
	color: #666;
	font-size: 1rem;
	font-weight: 300;
	align-self: center;
}
.dash-profile-name span {
	font-size: 1.1rem;
	color: #333;
	display: block;
	font-weight: 400;
}
.dash-profile-change {
}
.dash-profile-change:hover {
	background-color: #ccc;
}
.dash-profile-change a {
	display: block;
	padding: 0.5rem 1rem;
	font-weight: 300;
	color: #666;
	font-size: 1rem;
	background-image: url(../images/half-down-arrow.png);
	background-repeat: no-repeat;
	background-position: 50% center;
	cursor: pointer;
	display: block;
	height: 100%;
}
.dash-profile-change span {
	display: none;
}
.dash-profile-change a:hover {
	text-decoration: none;
}
/**** user header box ***/
.user-header {
	padding-bottom: 1rem;/*	border-bottom: var(--color-gray-1) solid 1px;*/
}
.user-header-left, .booking-header-left {
	padding: 1rem;
	display: flex;
}
.user-header-img img {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	box-shadow: 1px 1px 3px var(--color-gray-2);
	border: var(--color-gray-1) solid 1px;
}
.booking-header-img img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	box-shadow: 1px 1px 3px #999;
	border: #999 solid 1px;
}
.user-header-info {
	align-self: center;
	padding-left: 2rem;
}
.user-header-name {
	font-size: 1.8rem;
	line-height: 2.4rem;
}
.user-header-desc {
	color: #666;
	padding-top: 0.5rem;
}
.status-bubble {
	border-radius: 1rem;
	padding: 0.25rem 2rem;
	color: #fff;
	font-weight: 500;
}
/******** Layout elements ***************/
.panel {
	background-color: #fff;
	border: var(--color-gray-1) solid 1px;
	border-radius: 0.5rem;
}
.section {
	padding-left: 1rem;
	padding-right: 1rem;
}
form .col2:first-child {
	padding-right: 0.5rem;
}
form .col2:last-child {
	padding-left: 0.5rem;
}
/********* boxes *******/
.section-header, .info-header, .block-header {
	text-transform: uppercase;
	padding-bottom: 1rem;
	/*color:  #ef6c00 ;
	color: #1e88e5;*/
	color: #ef6c00;
	font-weight: 500;
 color:
}
.section-header {
	/*padding-left: 1rem;*/
}
.info-header {
	color: #999;
	font-size: 1rem;
}
.block-header-blue {
	color: #1e88e5;
}
.bash-sum-box {
	background-color: #fff;
	border: var(--color-gray-1) solid 1px;
	display: flex;
	box-shadow: 0 0 5px #efefef;
	border-radius: 5px;
	margin-bottom: 1.5rem;
}
.dash-stat-box {
	padding: 0.5rem;
	width: 100%;
	box-sizing: border-box;
}
.dash-stat-name {
	color: #333;
	padding: 0.5rem;
	font-size: 1.2rem;
	color: #666;
}
.dash-stat-num {
	font-weight: 500;
	font-size: 2rem;
	line-height: 2rem;
	padding: 0 0.5rem;
}
.dash-stat-desc {
	color: #666;
	font-weight: 300;
	padding: 0.5rem;
}
.dash-stat-div {
	border-left: #ccc solid 1px;
	margin: 1rem 0;
}
.dash-body-standalong {
	padding-top: 2rem;
}
.dash-header-wrapper {
	padding-right:1rem;
	display: flex;}
}
.dash-header-wrapper div {
	flex: 1 1 auto;
}
.dash-header-wrapper a {
	align-self: center;
}
.dash-sub-header {
	font-size: 1.4rem;
	padding-bottom: 1.5rem;
	color: #333;
	text-transform: uppercase;
	padding-top: 1rem;
	font-weight: 500;
	flex:1 1 auto;
}
.panel .dash-header-wrapper .dash-sub-header {
	padding-left: 0;
}

.push-up {
	margin-top: -1.5rem;
}
.dash-rt-box {
	margin-bottom: 1rem;
	border-radius: 5px;
}
.dash-rt-title {
	align-self: center;
	padding: 0.5rem;
	font-size: 1.3rem;
	color: #666;
	border-bottom: #ccc solid 1px;
}
.dash-rt-body {
	padding: 0.5rem;
}
.dash-rt-foot {
	padding: 1rem 0.5rem 0.5rem 0;
	text-align: right;
}
.list-link {
	display: block;
	color: #333;
	line-height: 1.5rem;
	padding: 0.3rem 0.5rem;
	font-size: 1rem;/*
	padding-left:24px;
	background-image:url(../images/half-right-arrow.png);
	background-repeat:no-repeat;
	background-position:0 center;
	*/
}
.list-link:hover {
	text-decoration: none;
	color: #1e88e5;
}
.list-link:last-child {
	margin: 0;
}
.box-active {
	border-left: #14931B solid 5px;
}
.box-inactive {
	border-left: #ccc solid 5px;
}
.image-line {
	display: flex
}
.image-line img {
	display: block;
	height: 24px;
	margin-left: 2px;
}
.inline-editor-panel {
	padding: 2rem;
	border: var(--color-gray-1) solid 1px;
	border-radius:0.5rem;
}
.inline-editor {
	display: block;
	position: absolute;
	padding: 0.5rem;
	font-size: 1rem;
	background-image: url(../images/ic-edit.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 35px;
	border: none;
	margin: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
}
.inline-contents {
	
	padding-bottom: 2.5rem;
	box-sizing: border-box;
}
.inline-editing {
	background-color: #fff;
}
.inline-editing textarea, #message-field {
	width: 100%;
	min-height: 150px;
	border: #1e88e5 solid 1px;
	outline: none;
	padding: 0.5rem;
	box-sizing: border-box;
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
}
/************************ Search bars **************/
.field-wrapper input.search-bar {
	font-size: 1.1rem;
	padding: 2px;
	
	background-image: url("../images/search_icon.png");
	background-position: 98% center;
	background-repeat: no-repeat;
	border-color: var(--color-gray-3);
	
}


/************************** result block ************/
.result-block {
	width: auto;
	margin: 10px 0;
	padding: 5px;
	padding-right: 10px;
	background-color: #fff;
	box-shadow: 0 2px 8px #ccc;
}
.result-block img {
	width: 120px;
	display:block;
}
.result-block a.button {
	background-color: #1e88e5;
	border-color: #1e88e5;
	padding: 0.25rem 1.5rem;
}
.result-block a.button-alt {
	background-color: #999;
	border-color: #999;
	padding: 0.25rem 1rem;
	margin-top: 0.5rem;
	cursor: pointer;
}
.block-select > span {
	border-width: 1px;
}
/************  appointments **********/
.appointment-row {

	border-bottom: var(--color-gray-1) solid 1px;
	cursor: pointer;
}
.rest-time {
	background-color: #e8eaf6;
	line-height: 1.8rem;
}
.no-appointment {
	background-color: #f4f4f4;
}
.available-time {
	background-color: #e7f3ff;
	text-align: center;
	padding: 1rem 0.5rem;
	display: block;
	line-height: 1.8rem;
}
.appointment-row:last-child {
	border: none;
}
.appointment-date {
	position: relative;
	min-height: 50px;
	box-sizing: border-box;
	padding: 1rem 0.5rem 0.5rem;
	font-weight: 500;
	border-right: var(--color-gray-1) solid 1px;
	background-color: #1e88e5;
	color: #fff;
	display: flex;
	align-items: center
}
.appointment-date span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffff;
	color: #333;
	font-size: 0.9rem;
	text-align: center;
	font-weight: 400;
}
.appointment-week .appointment-row {
	display: block;
}
.appointment-desc {
	padding: 0.5rem;
	flex: 1 1 auto;
	border-width: 0 1px;
}
.appointment-desc span {
	font-weight: 300;
	display: block;
	line-height: 1.8rem;
	font-size: 1rem;
}
.appointment-desc > div {
	width: 100%;
}
.appointment-notes {
	padding: 0.5rem;
}
.appointment-duration {
	padding: 0.5rem;
	border-left: var(--color-gray-1) solid 1px;
	min-width: 6rem;
	box-sizing: border-box;
	background-color: #efefef;
}
.appointment-duration div {
	margin: auto;
	font-size: 1.3rem;
}
.appointment-desc, .appointment-notes, .appointment-duration {
	display: flex;
	align-items: center;
}
.appointment-confirmed label, .appointment-scheduled label, .status-active, .status-inactive {
	font-size: 1rem;
	display: inline-block;
	padding: 0 1rem;
	margin-top: 0.5rem;
	margin-right: 1rem;
	background-color: #81c784;
	border-radius: 20px;
	color: #fff;
	padding-top: 2px;
}
.appointment-scheduled label, .status-inactive {
	background-color: #ccc;
	color: #333;
}
.appointment-scheduled label.agency, .appointment-confirmed label.agency {
	background-color: #9575cd;
	color: #fff;
}
.appointment-scheduled {
	color: #333;
}
.appointment-exp {
	font-size: 1rem;
	display: inline-block;
	color: #ef6c00;
	font-weight: 400;
}
.appointment-day {

	flex: 1 0 auto;
}
#appointment_day, #appointment_week, #appointment_month {
	padding-top: 2rem;
}
.appointment-block {
	margin-bottom: 2px;
	cursor: pointer;
}
.appointment-block label {
	display: none;
}
.appointment-day-name {
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	background-color: #1e88e5;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem 0;
	border-bottom: var(--color-gray-1) solid 1px;
	position: relative;
}
.appointment-day-name span {
	background-color: transparent;
	font-size: 1rem;
	display: block;
	color: var(--color-gray-1);
	font-weight: 400;
}
.appointment-block > div {
	border: none;
}
.appointment-block .appointment-date {
	min-height: auto;
	padding: 5px;
	background-color: #ef6c00;
	display: block;
	text-align: center
}
.this-appointment {
	background-color: #ef6c00;
}
.appointment-scheduled .appointment-date {
	background-color: #999;
}
.appointment-block .appointment-desc {
	padding: 5px;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.2rem;
}
.appointment-block .appointment-duration {
	padding-top: 0;
}
.appointment-block .appointment-confirmed, .appointment-block .appointment-scheduled {
	margin: 0.5rem auto;
	padding: 0 0.5rem;
}
.appointment-block.appointment-confirmed {
	background-color: #ffe2c7;
}
.appointment-block.available-time {
	font-size: 1rem;
}
.appointment-block.appointment-scheduled {
	background-color: #f4f4f4;
}
.calendar-day {
	border-bottom: var(--color-gray-1) solid 1px;
}
.appointment-block .appointment-exp {
	padding-top: 5px;
}
.calendar-day-name {
	color: #666;
	background-color: #e7f3ff;
	padding: 5px;
	font-size: 1rem;
	border-bottom: var(--color-gray-1) solid 1px;
	font-weight: 500;
	text-align: center;
}
.today {
	background-color: #1e88e5;
	color: #fff;
}
.calendar-body {
	height: 130px;
	cursor: pointer;
}
.calendar-body > div {
	padding: 5px;
	font-size: 1rem;
}
.calendar-time {
	font-weight: 300;
	text-align: right;
}
.appointment-brief {
	width: 400px;
}
.brief-note {
	max-height: 100px;
}
.input-notes {
	min-height: 120px;
}
.appointment-month .columns {
	display: flex;
}
{
	font-size: 0.75rem;
}
.appointment-month .calendar-day, .appointment-month .appointment-day {
	box-sizing: border-box;
	width: 14.285%;
}
.appointment-month .appointment-day-name, .appointment-month .calendar-day-name {
	font-size: 0.75rem;
}

.appointment-month .column-seperated > div {
	border-right: var(--color-gray-1) solid 1px;
}
.appointment-month .calendar-body  {
	height: auto;
	min-height: 50px;
}
/***************** Talent profile section ******/
.work-time {
	padding: 0;
}
.work-time input[type=text] {
	width: 100px;
}
.work-time .timepicker {
	margin-left: -100px;
	max-width: 300px;
}
.off-day {
	background-color: #f4f4f4;
}
.off-day a {
	display: none;
}
/************ Wizard *************/
.wizad-task {
	padding: 12px;
	padding-left: 48px;
	border-bottom: var(--color-gray-1) solid 1px;
	background-repeat: no-repeat;
	background-position: 8px center;
}
.task-completed {
	color: #ef6c00;
	background-image: url(../images/check-round-orange.png);
}
.task-progress {
	color: #1e88e5;
	background-image: url(../images/arrow-round-blue.png);
}
/** ********* Public page parts *********/
#page_parts {
}
.page-part {
	border-bottom: var(--color-gray-1) solid 1px;
}
.part-header {
	background-color: #efefef;
	align-items: center;
}
.part-handle {
	width: 32px;
	height: 24px;
	background-image: url(../images/half-up-arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.part-name {
	padding-left: 1rem
}
.part-enable {
	padding: 2px;
}
.part-body {
}
.part-form {
}
.part-image {
}
/************ Subscription plans ******/
.package-list {
}
.subscription-plan {

	flex: 0 1 auto;
	box-sizing: border-box;
	border: var(--color-gray-1) solid 1px;
	text-align: center;
	border-radius: 5px;
	margin: 1rem auto;
	box-shadow: 0 2px 5px #ddd;
	position: relative;
}
.subscription-plan:first-child {
	margin-left: auto;
}
.subscription-plan:last-child {
	margin-right: auto;
}
.plan-name {
	padding: 1rem;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.8rem;
}
.plan-price {
	font-size: 2rem;
	color: #ef6c00;
	font-weight: bold;
	padding-top: 1rem;
	font-weight: bold;
	background-color: #f4f4f4;
	padding-bottom: 0.5rem;
}
.plan-features {
	border-bottom: var(--color-gray-1) solid 1px;
	padding: 1rem;
}
.plan-features > div {
	padding: 0.5rem 0;
	
}
.plan-features span {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2rem;
	display:block;
}

.plan-price-annual {
	padding-bottom: 1rem;
	border-bottom: var(--color-gray-1) solid 1px;
	background-color: #f4f4f4;
}
.plan-price span, .plan-price-annual span {
	color: #666;
	font-size: 1.1rem;
	font-weight: normal;
}
.plan-price span {
	line-height: 2.5rem;
	display: block;
}
.plan-desc {
	padding: 1rem;
}
.subscription-plan .button {
	display: block;
	margin: 1rem 2rem;
	font-size: 1.2rem;
	padding: 1rem;
	width:auto;
}
.subscription-plan .button-alt {
	background-color: #fff;
	color: #666;
	border: #ccc solid 1px;
	box-shadow: none;
}
.selected-plan {
	position: absolute;
	background-image: url("../images/popuar.png");
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	top: -5px;
	right: -5px;
}
/************ Booking change ******/
.selected-package {
	background-color: #e7f3ff;
}
.selected-package .button {
	display:none;	
}
/************ Message board *******/
#message_editor {
	display: none;
}
.message-block {
	position: relative;
	padding-bottom: 2rem;
}
.message-body {
	border: #1e88e5 solid 1px;
	background-color: #e7f3ff;
	border-radius: 5px;
	padding: 1rem;
	margin: 0 30px;
	padding-right: 40px;
}
.message-info {
	display: flex;
	padding-bottom: 1rem;
}
.message-from {
	font-weight: 500;
	flex: 1 1 auto;
}
.message-date {
	font-weight: 300;
	font-size: 1rem;
}
.message-contents {
}
.message-header {
	position: absolute;
	top: 1rem;
	right: 0;
	z-index: 1;
}
.message-header img {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: #ccc solid 1px;
}
.inward .message-body {
	padding-right: 1rem;
	padding-left: 40px;
	background-color: #fff;
	border-color: var(--color-gray-1);
}
.inward .message-header {
	right: auto;
	left: 0;
}
/************ Item selector with an image ***********/
.auto-warp {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
.auto-warp > div {
	padding: 0.5rem;
	width: 50%;
	box-sizing: border-box;
}
.item-selector {
	display: flex;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fff;
	border: #ccc solid 1px;
}
.item-selector:hover {
	background-color: #e7f3ff;
	color: #1e88e5;
}
.item-selector img {
	display: block;
	width: 80px;
	border-radius: 5px 0 0 5px;
}
.item-selector div {
	padding-left: 1rem;
	align-self: center;
	font-size: 1.2rem;
	font-weight: bold;
}
.item-selector span {
	display: block;
	font-size: 1rem;
	color: #666;
	font-weight: normal;
}
/************ Ststus codes *********/
/*
.status-confirmed {
	border-color: #14931B;
}
.status-pending {
	border-color: #ffcc00;
	color: #333;
}
.status-payment {
	border-color:  #ef6c00 ;
}
.status-reject {
	border-color: #000;
	color: #333;
}
.status-canceled {
	border-color: #e03e25;
}*/

.status-pending {
/* Yellow 
	border-left: #ffd54f solid 7px;**/
}
.status-accepted {
/** orange 
	border-left: #ffa726 solid 7px;**/
}
.status-payment {
/** purple 
	border-left: #9575cd solid 7px;**/
}
.status-confirmed {
/** green 
	border-left: #81c784 solid 7px;**/
}
.status-reject {
/** gray 
	border-left: #666 solid 7px;**/
}
.status-canceled {
/** off red 
	border-left: #ef5350 solid 7px;**/
}
.status-pending label.row-status, .status-pending.status-bubble {
	/* Yellow **/
	background: #ffd54f;
	color: #333;
}
.status-accepted label.row-status, .status-accepted.status-bubble {
	/** orange **/
	background: #ffa726;
	;
}
.status-payment label.row-status, .status-payment.status-bubble {
	/** purple **/
	background: #9575cd;
}
.status-confirmed label.row-status, .status-confirmed.status-bubble {
	/** green **/
	background: #81c784;
}
.status-reject label.row-status, .status-reject.status-bubble {
	/** gray **/
	background: #666;
}
.status-canceled label.row-status, .status-canceled.status-bubble {
	/** off red **/
	background: #ef5350;
}
.status-blocked label.row-status, .status-blocked.status-bubble
.status-expired label.row-status, .status-expired.status-bubble {
	/** off red **/
	background-color: var(--color-gray-3);
}
#card-element {
	border: var(--color-gray-2) solid 1px;	
	border-radius: 3px;
	padding: 0.5rem;
}

/******************** expandable blocks *******************/
.expandable {
	background-image: url("../images/half-right-arrow.png");
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 0 center;
	cursor: pointer;
}
.expandable-body {
	display:none;
}
.expanded {
	background-image: url(../images/half-down-arrow.png);
	display:flex;
}


/********************* Dashboard designs ********************/


@media only screen and (min-width: 480px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.section, .section-header {
	/*padding-left: 2rem;*/
	padding-right: 2rem;
}
.column-2:first-child, .column-3:first-child, .column-4:first-child, .column-31:first-child, .column-41:first-child {
	padding-left: 1rem;
}
.column-2:last-child, .column-3:last-child, .column-4:last-child, .column-31:last-child, .column-41:last-child {
	padding-right: 1rem;
}
.column-2, .column-3, .column-4, .column-31, .column-41 {
	padding-top: 0;
	padding-bottom: 0;
}
.button, .link-button {
	padding: 0.5rem 1.5rem;

}

form .col2:first-child {
	padding-right: 0;
}
form .col2:last-child {
	padding-left: 0;
}
.subscription-plan {
	min-width:220px;
	width: 24%;
}
.box-row {
	display:flex;

}
.box-cell:first-child {
 padding-left:1rem;
}
.box-cell:last-child {
padding-right:1rem;
}

.dash-header-wrapper {
	/*padding-right:0;*/	
}
.dash-sub-header {
	padding-left:0;	
}
.appointment-row {
	display: flex;
	}

.appointment-day {
	width: 14%;
	}
#appointment_day, #appointment_week, #appointment_month {
		padding-top: 0;
	}
.appointment-month .appointment-day-name, .appointment-month .calendar-day-name {
	font-size: 1rem;
}
}

@media only screen and (min-width: 992px) {
.dashboard-strip .container, .footer-strip  .container{
	width: 100%;
	padding: 0 1rem;
}
.subscription-plan {
	min-width:200px;
}
}

@media only screen and (min-width: 1100px) {
.dashboard-strip, .footer-strip {
	padding-left: 270px;
}

.dashboard-strip .container {
	width: 100%;
	max-width: 1100px;
}
.dash-side {
	display: block;
	position: fixed;
	top: 55px;
	left: 0;
	width: 250px;
	bottom: 0;
	background-color: #fff;
	padding-right: 0;
	border-right: var(--color-gray-1) solid 1px;
}
.dash-menu-button {
	display: none;
}
.dash-menu {
	border: none;
	display: block;
}
.dash-profile-outer {
	display: block;
}
.dash-menu-wrapper {
	position: absolute;
	bottom: 0;
	top: 150px;
	overflow-y: auto;
	scrollbar-width: thin;
	width: 100%;
	overflow-x: hidden;
	display: block !important;
	box-shadow: none;
}
.dash-menu > .dash-sep {
	display: block;
}
.dash-contents {
	width: 98%;
	margin-top: 0;
}
.dash-profile img {
	width: 64px;
	height: 64px;
}
.dash-menu .dash-sep {
	display: block;
}
.dash-profile-change span {
	display: inline-block;
}
.dash-profile-change a {
	background-position: 90% center;
}


}
