.gallery {
	display:none;
}
.stage {
	padding:0.5rem;
	position:fixed;
	top:50px;
	left:0;
	right:0;
	bottom:52px;
	z-index:121;
	background-color:#fff;
	overflow:auto;
}
#gallery_stage {
	display:flex;
	flex-wrap:wrap;
}
#gallery_stage div {
	position:relative;
	padding:1rem;
	cursor:pointer;
	border:none;
	transition: all 0.3s;
	margin:0 2px 2px 0;
	flex:1 0 auto;
	min-width:120px;
	max-width:200px;
	background-color: #efefef;
}
.gallery-image-remove {
	width:24px;
	height:24px;
	background-image:url(../images/icon-trash.png);
	background-repeat:no-repeat;
	background-position:center;	
	position:absolute;
	bottom:1rem;
	left:1rem;
	background-color:rgba(255,255,255, 0.5);
	cursor:pointer;
}
#gallery_stage img {
	display:block;	
	width:120px;
	height:120px;
	margin:auto;
}

#gallery_stage .target {
	background-color:#1e88e5;
	border-radius:5px;
}
.gallery-buttons {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color:#f4f4f4;
	display:flex;
	border-top:#ccc solid 1px;	
	padding:0.5rem;
	z-index:122;
}
.gallery-buttons a {
	padding:0.5rem 2rem;
	
}
.gallery-buttons .center {
	flex:1 1 auto;	
}

