.part-enable {
	position: absolute;
	right: 0;
	top: -40px;
}
/************************* Editing tools ****************/
h2.cura, p.cura, div.cura {
	border: #1e88e5 dashed 1px;
	min-height: 20px;
	min-width: 100px;
	padding: 0.5rem;
	cursor: pointer;
}
div.cura.service-title, div.cura.service-row-desc {
	
}
a.portfolio-item.cura {
	border: #1e88e5 dashed 1px;
}
.service-remove {
	position:relative;	
}
/*
.service-remove a {
	background-image:url(../images/icon-trash.png);
	width:30px;
	height:30px;
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	right:0;
	z-index:1;
	cursor:pointer;
}*/
div.cura {
	position: relative;
}
h2.cura {
	/*display: inline-block;*/
}
.inline-editing {
	position: absolute;
	z-index:1005;
}
.inline-editing textarea, #video-embed {
	padding: 0.5rem;
	font-size: 1.2rem;
	border: #1e88e5 solid 1px;
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	color: #333;
	font-family: 'Heebo', sans-serif;
}
.inline-editing .button-container {
	background-color: #fff;
	padding: 1rem;
	border: #999 solid 1px;
	border-top-width: 0;
}
.picture-browser {
}

