/***********  Page layouts **************/
.header-strip {
	background-color: #fff;
}
.profile-strip {
	padding: 2rem 1rem;
}
.profile-strip .container {
	transition: all 1s;
}
#page-header {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 50px;
}
.profile-top {
	position: relative;
}
.profile-left {
	width: 620px;
	padding: 2rem 1rem 2rem 0;
	box-sizing: content-box;
	order: 0;
}
.profile-right {
	flex: 1 1 auto;
	padding: 2rem 0 2rem 1rem;
	order: 1;
}


/******************** Booking form **********************/

#booking-panel {
	padding:2rem 1rem;
}

.profile-booking {
	padding: 1.5rem;
	background-color: #ffe2c7;
	border-radius: 0 0 1rem 1rem;
	display: block;
	align-items: center;
	box-shadow: 0 4px 6px #ccc
}
.profile-booking-label {

	font-size: 1.4rem;
align-self: flex-start;
padding-top: 1rem;
}
.profile-booking-fields {
	display: flex;
}
.profile-booking-date {
	border-radius: 5px 0 0 5px;
}
.profile-booking-button {
	padding: 0.5rem 2rem;
	font-size: 1.4rem;
	line-height: 2;
	border-radius: 0 5px 5px 0;
	box-shadow: none;
	width: 50%;
}
.profile-booking-info {
	font-weight: 300;
	padding-top: 1rem;
	align-self: center;
	position: relative;
}
.profile-booking-info span {
	font-weight: 400;
}


/****************** Banner section***********/

.profile-banner {
	position: relative;
	height: 270px;
}
.profile-info {
	background-color: rgba(255,255,255, 0.9);
	padding: 30px 30px 10px 30px;
	border-radius: 1rem 1rem 0 0;
}
.profile-info-inner {
	min-height: 100px;
	flex: 1 1 auto;
	text-align: center;
	padding-top: 1rem;
}
.profile-pic {
	width: 200px;
	margin: auto;
	margin-top: -130px;
}
.profile-pic-inner {
	position: relative;
}
.profile-pic a, .profile-banner a, .picture-browser {
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	left: 84px;
	bottom: 20px;
	cursor: pointer;
}
.profile-banner a, .picture-browser {
	top: 15px;
	right: 15px;
	bottom: auto;
	left: auto;
}
.profile-pic img {
	display: block;
	border-radius: 200px;
	width: 200px;
	height: 200px;
	border: #ccc solid 1px;
	background-color: #fff;
}
.profile-name {
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 500;
}
.profile-cat {
	font-size: 1.8rem;
	line-height: 2.4rem;
	padding-bottom: 0.5rem;
	font-weight:4500;
}
.profile-loc {
	font-size: 1.4rem;
	color:#666;
}
.page-image {
width:100%;
	
}
.page-image img {
	width: 100%;
	display: block;
	border-radius:  0 0 1rem 1rem;
}
/********************** profile description ************/
.profile {
	border-radius: 1rem;
	box-shadow: 0 5px 10px #ccc;

}
.page-description {
	background-color: #fff;
	border-radius:  1rem 1rem 0 0;
	padding: 1rem;
}
.page-description div {
	width: 100%;
}

.page-description p {
	font-size: 1.5rem;
	line-height: 2.4rem;
	text-align:center;
	
}
/******************* Mission ****************/
.mission-quote {
	display:inline-block;
	background-image:url(../images/quote-open.png);
	background-position:0 0;
	background-repeat:no-repeat;
	max-width:980px;
}
.mission-quote span {
	display: inline-block;
padding: 24px 56px 24px 56px;
background-image: url(../images/quote-close.png);
background-position: 100% 100%;
background-repeat: no-repeat;
font-style: italic;
font-size: 1.6rem;
}
/******************* Services ****************/
.service-block {
	display:flex;
	flex-wrap:wrap;
	padding: 0;
}

.service-row {
	flex:1 0 auto;
	width:100%;
	box-sizing:border-box;
	padding:1rem 0;
	text-align:center;
	margin: 0 auto;
	align-self:flex-start;
	position: relative;
	
}
.service-inner {
box-shadow: 0 2px 6px #ccc;
border-radius: 1rem;
padding-top: 1rem;
	background-color: #fff;
}
.service-image {
	width:150px;
	height:150px;
	padding-bottom:2rem;
	margin:auto;
}
.service-image img {
	width:100%;
	border-radius:100px;
	display:block;

}
.service-title {
	font-size: 1.4rem;
	line-height: 2.4rem;

	padding: 0.5rem 0 1rem 0;

	text-transform:uppercase;
	font-weight:700;
}
.service-row-desc {
	padding: 0 1rem 2rem 1rem;
	font-size:1.25rem;
}
/******************** Sessions ****************/
.package-headers {
	padding: 1rem 0;
	font-weight: 500;
	color: #666;
font-size: 1.8rem;
}
.profile-packages {
	display: flex;
	flex-wrap: wrap;
	
}
.profile-package-wraper {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 auto;
	align-items: stretch;
}
.profile-package {
	background-color: #fff;
	text-align: left;
	position: relative;
	box-shadow: 0 2px 6px #ccc;
	width:100%;
}
.profile-package-name {
	padding: 1rem;
	font-size: 1.5rem;
	line-height: 2rem;
	box-sizing: border-box;
	background-color: #efefef;
	background-position: 0 center;
	font-weight:600;
	text-align:	center;
	color: #ef6c00;
	position: relative;
}
.profile-package-cat {
	color: #333;
	font-size: 1.1rem;
	font-weight:400;
}
.profile-package-desc {
	padding: 1rem;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 3rem;
	font-weight: 300;
	padding-bottom: 6rem;
}
.profile-package-price {
	padding: 1rem;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	position: absolute;
	right: 0;
	bottom: -2rem;
	background-color: #81c784;
color: #fff;
	border-radius: 50px 0 0 50px;
}
.profile-package-action {
	padding: 1rem;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.award-image img {
	display: block;
	width: 100%;
	border-radius: 1rem 1rem 0 0;
}
.award-title {

	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2rem;
	border-left: #fb7b06 solid 0.5rem;
	padding: 1.5rem 1rem;
}
.award-desc {
	font-size:1.25rem;
	padding: 0 1.5rem 1rem 1.5rem;
}
.achievement {
	position:relative;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 5px 10px #ccc;
}
.achievement-remove, .service-remove a {
	position:absolute;
	background-image:url(../images/icon-trash.png);
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	background-position:center;
	right:0;
	top:0;
	background-color:#fff;
	border-radius:30px;
	z-index:99;
	cursor:pointer;
	border:#ccc solid 1px;
}
/************** Video *****************/
.profile-video {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
}
.profile-video iframe {
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	z-index:99;
}
.video-update-wrapper {
	position:relative;	
}
.video-update-dialog {
	z-index:100;
	background-color:#fff;
	padding:1rem;
	width:100%;
	max-width:400px;	
	position:absolute;
	left:0;
	bottom:0;
	box-shadow:0 2px 6px #666;
	
	display:none;
}
#video-embed {
	height:100px;	
}
/******************* Achivements ***************/
.achievement-row .column-2 {
	padding: 1rem 0;
}
/******************** Portfolio ***********/
.profile-video * {
	width: 100%;
}
.portfolio {
	display: flex;
	flex-wrap: wrap;

}
.portfolio-item {
	overflow: hidden;
	box-sizing: border-box;
	position:relative;
	cursor:pointer;
	margin:auto;
	width:100%;
	height:300px;
	margin-bottom:1rem;
	border-radius: 1rem;
	box-shadow: 0 2px 6px #666;
}
.portfolio-item img {
	display: block;
	transition: all 0.5s;
	width: 120%;
	margin-left: -10%;
}
.portfolio-item span {
	position:absolute;
	left:0;
	right:0;
	bottom:0;	
	padding:0.5rem;
	background-color:rgba(255,255,255, 0.6);
	color:#333;
	text-align:center;
	max-height:80px;
}
.portfolio-mask {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.9);
	z-index:121;	
	display:none;
	overflow:auto;
}
.portfolio-max {
	height:100%;	
	display:none;
}
#portfolio-container {

}
.portfolio-close {
	position:absolute;
	top:50px;
	z-index:101;
	color:#999;	
	cursor:pointer;
	padding: 1rem 2rem;
	background-image:url(../images/icon-close.png);
	background-repeat:no-repeat;
	background-position:center;
	height:24px;
}
.portfolio-close:hover {
	text-decoration:none;	
}
.portfolio-image, .portfolio-image.cura {
	flex:1 1 auto;
	padding-top:50px;
	display:flex;
	position:relative;	
	box-sizing:border-box;
	min-height: 300px;
}
.portfolio-image img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
	margin: auto;
}
.portfolio-content {
	
	overflow:auto;
	width:100%;
	background-color:#fff;
	padding:1rem;
	
	box-sizing:border-box;
}
.portfolio-title {
	padding:2rem 0 1rem 0;
	font-weight:500;
	font-size:1.5rem;
}
.portfolio-description {
	padding-bottom:1rem;
}
.portfolio-delete {
	position:absolute;
	left:5px;
	bottom:5px;
	background-image:url(../images/icon-trash-gray.png);
	width:36px;
	height:36px;
	background-repeat:no-repeat;
	background-position:center;
}
.portfolio-upload {
	position:absolute;
	right:5px;
	top:55px;
	background-image:url(../images/icon-upload.png);
	width:36px;
	height:36px;
	background-repeat:no-repeat;
	background-position:center;
}
.portfolio-prev, .portfolio-next {
	width:128px;
	height:128px;
	background-position:0 center;
	background-repeat:no-repeat;
	background-image:url(../images/arrow-big-left.png);
	position:fixed;
	z-index:1003;
	top:400px;
	transition:linear opacity 0.3s;
	opacity:0.25;
	cursor:pointer;
	
}
.portfolio-prev:hover, .portfolio-next:hover {
	opacity:1;
}
.portfolio-prev {
	left:0;	
}
.portfolio-next {
	background-position:100% center;
	background-image:url(../images/arrow-big-right.png);
	right:0;
}
.onshow {
	display:flex;
	flex-direction:column;	
}
.box-header {
	font-weight: 500;
	background-color: #e7f3ff;
	padding: 0.5rem 1rem;
	font-size: 1.2rem
}
.box-body {
	border: #efefef solid 1px;
	padding: 1rem;
}
#image_loader {
	overflow: auto;
}
#image_loader div {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	margin: 0 0.5rem 0.5rem 0;
	border: #ccc solid 1px;
	display: flex;
	text-align: center;
	background-color: #fff;
	position: relative;
	cursor: move;
}
#image_loader div img {
	max-width: 100%;
	max-height: 100%;
	align-self: center;
	margin: auto;
}
#image_loader div a {
	position: absolute;
	width: 24px;
	height: 24px;
	color: #999;
	right: 0;
	top: 0;
	text-align: center;
}
#image_loader div a:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}
/******************* Social links *********************/
.social-link-editor {
	display:none;	
}


/******************** Context menu **********************/
.context-menu {
	background-color: #ccc;
	display: none;
}

/*************************** Image gallery **************/
.image-gallery {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1001;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.image-scroll-left {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	background-image: url(../images/arrow-big-left.png);
	background-position: 5% center;
	background-repeat: no-repeat;
}
.image-scroll-right {
	position: fixed;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url(../images/arrow-big-right.png);
	background-position: 95% center;
	background-repeat: no-repeat;
}
.image-gallery-close {
	font-size: 2rem;
	line-height: 3rem;
	position: fixed;
	width: 3rem;
	text-align: center;
	color: #ccc;
	font-weight: 400;
	top: 0;
	right: 0;
	cursor: pointer;
}
.image-gallery-close:hover {
	text-decoration: none;
}
/*************************** wizard poppup **************/
.popup {
/*	border: #ccc solid 1px;*/
	position: absolute;
	top: 2000px;
	left: 800px;
	width: 300px;
	border-radius: 1rem;
	box-shadow: 0 2px 30px #333;
	background-color: #fff;
	display:none;
	z-index: 2;
}
.popup-inner {
	position: relative;
	padding: 1rem;
}
.anchor {
	background-color: #fff;
	border: #333 solid 1px;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: -9px;
	transform: rotate(45deg);
	border-width: 1px 0 0 1px;
}
.popup-body {
}
.popup-close {
	position:absolute;
	right:-10px;
	top:-10px;
	padding:0 8px;
	border-radius:20px;
	background-color:rgba(255,255,255,0.9);
	border:#999 solid 1px;
	cursor:pointer;
}

/************************** Publishing tool bar *********/
.publish-tools {
	position:fixed;
	left:50px;
	top:50px;
	background-color:#f4f4f4;
	z-index:120;	
	border-radius:0 0 5px 5px;
	display:flex;
	box-shadow:0px 5px 6px #333;
}

.publish-tools a {
	color:#333;	
	padding:20px;
	text-transform:uppercase;
	height:64px;
	width:48px;
	background-repeat:no-repeat;
	background-position:center;
	border-right:#ddd solid 1px;
	box-sizing:border-box;
	cursor:pointer;
}
.publish-tools a:hover {
	background-color:#1e88e5;	
}
.publish-tools a:last-child {
	border:none;	
}

.pt-edit {
	background-image:url(../images/w-edit.png);	
}
.pt-wizard {
	background-image:url(../images/w-wand.png);	
}

.pt-publish {
	background-image:url(../images/w-rocket.png);	
}

.pt-close {
	background-image:url(../images/w-close.png);	
}




/*************************** Layout icons ***************/
.icon-capture {
	background-image: url(../images/capture.png);
}
.icon-layout1 {
	background-image: url(../images/layouts/layouts1.png);
}
.icon-layout2 {
	background-image: url(../images/layouts/layouts2.png);
}
.icon-layout3 {
	background-image: url(../images/layouts/layouts3.png);
}
.icon-layout4 {
	background-image: url(../images/layouts/layouts4.png);
}
.icon-layout5 {
	background-image: url(../images/layouts/layouts5.png);
}
.icon-layout6 {
	background-image: url(../images/layouts/layouts6.png);
}
/***************** Social icon links *****************/
.social-links {
	text-align: center;
}
.social-links a {
	width: 64px;
	height: 64px;
	margin: 1rem;
	background-image: url(../images/social-icons.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.social-fb {
	background-position: 0 0;
}
.social-tw {
	background-position: 0 -64px;
}
.social-ig {
	background-position: 0 -128px;
}
.social-ln {
	background-position: 0 -192px;
}
.social-pn {
	background-position: 0 -256px;
}
.social-yt {
	background-position: 0 -320px;
}
.social-ww {
	background-position: 0 -384px;
}
.social-tk {
	background-position: 0 -448px;
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (min-width: 480px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.profile-package-wraper {
	width: 50%;
	padding: 1rem;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

#booking-panel {
	padding:2rem 0;
}

.profile-booking {
	display: flex;
	padding: 1.5rem 1rem;
}
	.page-image img {
		border-radius: 1rem 0 0 1rem;
	}
.profile-booking-label {
	padding-right: 2rem;
	padding-bottom: 0;
}
.profile-booking-fields {
	display: flex;
}
.profile-booking-date {
	border-radius: 5px 0 0 5px;
}
.profile-booking-button {
	padding: 0.5rem 2rem;
	font-size: 1.4rem;
	line-height: 2;
	border-radius: 0 5px 5px 0;
	box-shadow: none;
}
.profile-booking-info {
	padding-top: 0;
}
.profile-booking-info span {
	padding-bottom: 5px;
	display: block;
}
.page-description {
	padding-left: 2rem;
	flex:1 1 auto;
	border-radius: 0 1rem 1rem 0;
}

.profile-package-wraper {
	width: 33.3%;
	padding: 1rem;
}
.portfolio {
	padding: 2px;
}
.portfolio-item {

	width: 32%;
	height: 300px;


}
.portfolio-item:hover img {
	width: 130%;
	margin-left: -15%;
	
}
.profile-booking-button {
	width: auto;
}
.service-row {
	width:50%;
	padding: 1rem;
}
.page-image {
	width: 50%;
	flex: 0 0 auto;
}
.portfolio-mask {
	overflow:hidden;
}

#portfolio-container {
	height:100%;
	overflow:hidden;	
}

.portfolio-image, .portfolio-image.cura{
	height:100%;	
}
.portfolio-content {
	width:400px;	
	height:100%;
	padding-top:60px;	
}
	.profile-package-desc {
		min-height: 180px;
	}
	.achievement-row .column-2 {
	padding: 1rem;
}
.onshow {
	display:flex;
	flex-direction:row;	
}
.profile-package-name { 
	height: 120px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.profile-packages {
	margin: 0 -1rem 0 -1rem;
}
	.profile-strip {
	padding: 4rem 0;
}
.publish-tools a {
		height:32px;
	width:32px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.profile-package-wraper {
	width: 25%;
	
}
.service-row {
	width:33.3%;
	max-width:33.3%;
	padding: 1rem;
}
}
