body {
	font-size:1.2rem;	
}
h2, h3 {
	font-weight:500;	
}
h3 {
	font-size:1.6rem;
	color:#333;	
	line-height:2.4rem;
	margin-bottom:1rem;
}
h4 {
	font-weight: 500;
	margin-bottom: 2rem;
	font-size: 1.3rem;
}
.container > h2, .container > h3 {
	padding-left: 1rem;
}
a { font-size:1.2rem}
ul {
	padding: 1rem;
	padding-left: 2rem;
	font-size: 1.3rem;

line-height: 1.8rem
}
img {max-width: 100%;.quote {
padding:24px 0 0 48px; 
background-image: url(../images/quote-open.png);
background-position: 0 0;
background-repeat: no-repeat;
}}
.links a {
	display:block;
	line-height:1.8rem;	
}
.support-banner h2{
	font-size: 1.6rem;
}
.support-banner {
	background-color: #f4f4f4;
}
.support-banner .container {
	height: 250px;
	background-image: url(../images/support/support-center.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.support-banner .container > div {
		margin:2rem auto;
	align-self: flex-end;
}
.support-banner h1 {
	color: #ef6c00;
	text-transform: uppercase;
	text-shadow:0 2px 6px #333;
}
.help-strip {
	padding:2rem 0;	
}

.service-icon img { width:100%}
.service-icon {
    width: 100px;
    height: 120px;
    margin: auto;
}
.service-block { padding:0}
.service-desc {
	margin-bottom:1rem;		
}
.person img {
	
	width: 80px;
	height: 80px;
	border-radius: 80px;
	border:#ccc solid 1px;
}
.person div {
	padding-left: 1rem;
	align-self: center;
}
.person span {
	display: block;
	color: #999;
}
.quote {
padding:24px 0 0 48px; 
background-image: url(../images/quote-open.png);
background-position: 0 0;
background-repeat: no-repeat;
}
.quote span {
	display: inline-block;
padding:0 48px 0 0 ; 
background-image: url(../images/quote-close.png);
background-position: 100% 100%;
background-repeat: no-repeat;
}
.categories {
	display: flex;
	flex-wrap: wrap;
}
.categories li {
	width: 100%;
}

.container > h3.category-head {
	padding-left: 1rem;
	background-color:#efefef; 
	font-weight: 400;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.container > h2, .container > h3 {
	padding-left: 0;
}
.support-banner .container {
	height: 469px;
}
.support-banner h1{
	text-align:center;
	font-size: 4rem;
}

.support-banner h2{
	font-size: 2.3rem;
}

.service-icon {
    width: 128px;
    height: 145px;
    margin: auto;
}
.service-block { padding:2rem}
.service-desc {
box-sizing:border-box;
min-height:100px;
	
}
	.categories li {
	width: 33.3%;
}
}
