/* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Heebo Light'), local('Heebo-Light'), url(../fonts/NGS3v5_NC0k9P9ldb6ROkK440A.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Heebo Light'), local('Heebo-Light'), url(../fonts/NGS3v5_NC0k9P9ldb6RMkK4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Regular'), url(../fonts/NGS6v5_NC0k9P9H0TbFzsQ.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Regular'), url(../fonts/NGS6v5_NC0k9P9H2TbE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Heebo Medium'), local('Heebo-Medium'), url(../fonts/NGS3v5_NC0k9P9kFbqROkK440A.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Heebo Medium'), local('Heebo-Medium'), url(../fonts/NGS3v5_NC0k9P9kFbqRMkK4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Heebo Bold'), local('Heebo-Bold'), url(../fonts/NGS3v5_NC0k9P9lNaKROkK440A.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Heebo Bold'), local('Heebo-Bold'), url(../fonts/NGS3v5_NC0k9P9lNaKRMkK4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*******************************************/
:root {
    --color-white: #fff;
	--color-text :#333;
	--color-gray-1: #eceff1;
	--color-gray-2: #cfd8dc;
	--color-gray-3:  #b0bec5;
	--color-gray-4: #90a4ae;
	--color-gray-5: #78909c;
	--color-gray-6: #607d8b;
	--color-brown:#a55903;
	--color-green:#3d9730;
	--color-bule-dark: #0141cf;
	--color-blue-light:#e6f3ff;
	--color-blue:#1e88e5;
	--color-cream:#fff3d6;
	--color-orange-light:#fd7f00;
	--color-orange:#ef6c00;
}


/*******************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  -webkit-font-smoothing: antialiased;
  font-size: 90%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6rem;
  font-size: 1.1rem;
  font-family: 'Heebo', sans-serif;
  color: #333;
  font-weight: 400;
  background-color: #fff;
}
body.noscroll {
  overflow: hidden;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
}
h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 2rem 0;
}
p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}
p a {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
p.single, p:last-child {
  margin-bottom: 1rem;
}
p.nopadding {
  margin-bottom: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
.nobottompadding {
  padding-bottom: 0 !important;
}
.notoppadding {
  padding-top: 0 !important;
}
.noborder {
  border: none !important;
}
.display-row {
  color: #1e88e5;
  font-size: 1.5rem;
  line-height: 2rem;
}
.display-row span {
  display: block;
  font-weight: 300;
  color: #333;
  font-size: 1rem;
}
a {
  color: #1e88e5;
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.cura {
	cursor: pointer;
}
/************************* Colors ****************************/
.sec-header {
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
}
.anote, .anote:last-child {
  font-size: 1rem;
  font-weight: 300;
  margin: 5px 0 0 0;
  display: block;
  font-style: italic;
}
label.error {
  color: #f00;
  font-size: 1.2rem;
  font-weight: 300;
  display: block;
  padding: 5px 0;
}
._server_error {
  background-color: #fffcda;
  padding: 1rem;
  padding-left: 50px;
  border: #ef6c00 solid 1px;
  font-weight: 400;
  margin-top: 0.5rem;
  background-image: url(../images/error-icon-32.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 5px;
}
.option-list {
  position: relative;
}
.option-list label.error {
  position: absolute;
  bottom: -12px;
  left: 0;
}
.desc-header {
  font-size: 1.4rem;
}
.desc-header span {
  font-weight: 300;
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem 0;
}
.page-not-found {
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lost-help {
  padding: 2rem !important;
  background: rgba(255, 255, 255, 0.7);
}
.minions {
	min-height: 300px;
	background-image: url("../images/static/minions.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
/*************************Structure***************************/
.page-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.page-container {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}
.miximized {
  padding: 0;
}
.middle-content {
  margin: auto;
}
.container {
  width: 100%;
  position: relative;
  margin: auto;
	padding: 0 0.5rem;
  box-sizing: border-box;
}
.section-container, .otp-container, .narrow-container {
  border: #ccc solid 1px;
  border-radius: 10px;
  padding: 2rem;
  min-width: 400px;
  box-sizing: border-box;
}
.otp-container {
  width: 420px;
  margin: auto;
}
.narrow-container {
  margin: auto;
}
.strip {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.column-2, .column-3, .column-4, .column-31, .column-41 {
  padding: 1rem;
}
.flex {
  display: flex;
}
.resizable {
  flex: 1 1 auto;
}
.fixed {
  flex: 0 0 auto;
}
.col2 {
  width: 50%;
  box-sizing: border-box;
}
.col3 {
  width: 33.33%;
  box-sizing: border-box;
}
.col31 {
  width: 66.66%;
  box-sizing: border-box;
}
.col4 {
  width: 25%;
  box-sizing: border-box;
}
.col41 {
  width: 75%;
  box-sizing: border-box;
}
.columns .col2, .columns .col3, .columns .col31, .columns .col4, .columns .col41 {
  width: 100%;
}
.column-seperated > div, .left-border {
    border-bottom: var(--color-gray-1) solid 1px;
	padding: 1rem 0;
  }
  .column-seperated > div:first-child {
    padding-left: 0;
  }
  
  .column-seperated > div:last-child {
    border: none;
  }
#appointments { overflow: hidden}
#appointments .column-seperated > div {
	padding: 0;
}
.flex.column-seperated > div, .left-border {
    border-right: var(--color-gray-1) solid 1px;
	padding: 0 1rem;
	 border-bottom:none;
  }
.flex.column-seperated > div:first-child {
    padding-left: 0;
  }
  
.flex.column-seperated > div:last-child {
    border-right: none;
  }
.to-left {
  order: 0;
}
.to-right {
  order: 1;
}
.left-content, .right-content {
  padding-bottom: 2rem;
}
.content {
  padding: 0 1rem;
}
.middle {
  align-self: center;
}
.stretch {
  align-self: stretch !important;
}
.bottom {
  align-self: flex-end;
}
.left-border {
 
  padding-left: 2rem;
}
.dash-sep {
  border-top: var(--color-gray-1) solid 1px;
}
.link-button {
  padding: 0.5rem 1rem;
  border: #ef6c00 solid 1px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  min-width: 80px;
}
.more-link {
  display: inline-block;
  padding-right: 2rem;
  background-image: url(../images/half-right-arrow.png);
  background-repeat: no-repeat;
  background-position: 98% center;
  cursor: pointer;
}
.link-button:hover {
  text-decoration: none;
  background-color: #ef6c00;
  color: #fff;
}
.button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  background-color: #1e88e5;
  color: #fff;
  text-align: center;
  min-width: 33.3%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 1px 3px #999;
  width: 100%;
}
.button:hover {
  text-decoration: none;
  box-shadow: 0 3px 6px #666;
}
.button-alt {
  background-color: #999;
}
.button-clear {
  background-color: transparent;
  box-shadow: none;
  border: #999 solid 1px;
  color: #333;
}
.button-mini {
  padding: 0 1rem !important;
  font-size: 0.9rem;
  min-width: auto !important;
  border-radius: 3px;
}
.button-act {
  background-color: #ef6c00;
}
.button-large {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  font-size: 500;
  box-shadow: none;
}
.button-large:hover {
  text-decoration: none;
  box-shadow: 0px 2px 6px #333;
}
.button-icon {
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 10px center;
}
.button-container {
  padding: 1rem 0;
}
.button-container div, .button-container a {
  margin: 0.5rem 0;
}
.button-container div.center, .button-container div.gap {
  margin: 0;
}
.button-container .left, .button-container .right {
  flex: 0 0 auto;
}
.button-container .center {
  flex: 1 1 auto;
}
.button-wrapper {
  display: flex;
  order: 0;
}
.button-wrapper a {
  width: 50%;
}
.button-container .button-wrapper div.gap {
  width: 2rem;
  display: block;
}
.selection-button {
  color: #333;
  display: block;
  border: #1e88e5 solid 1px;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}
.selection-button:hover {
  text-decoration: none;
  border-color: #ef6c00;
  background-color: #ffe2c7;
}
.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}
.page-header {
  font-weight: 400;
  font-size: 1.8rem;
  padding: 2rem 0 1rem 0;
  line-height: 2.4rem;
}
.section-container .page-header {
  padding: 1rem 0;
}
.main-desc {
  font-size: 1.3rem;
  padding: 1rem 0 1rem 0;
  line-height: 2rem;
  font-weight: 300;
}
.sub-header {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
.align-top {
  padding-top: 0;
}
.button-loading-orange, .button-loading-blue {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.button-loading-orange:hover, .button-loading-blue:hover {
  background-color: #fff !important;
}
.button-loading-orange {
  background-image: url(../images/rolling-orange.gif);
}
.button-loading-blue {
  background-image: url(../images/rolling-blue.gif);
}
.button-image {
  background-image: url(../images/picture-icon.png);
}
.button-place {
  background-image: url(../images/location-icon.png);
}
.nowrap {
  white-space: nowrap;
}
.popheart {
  transition: all 0.5s;
  transform: scale(15);
  opacity: 0;
}
.selectable:hover {
  background-color: #e7f3ff;
  border-color: #1e88e5;
}
/*********************** GDPR *******************************/
#gdpr {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -200px;
  padding: 1rem;
  z-index: 1001;
  display: none;
  transition: all 1.5s;
}
.gdpr_show {
  display: block !important;
  opacity: 1 !important;
  bottom: 0 !important;
}
/*********************** Form fields ************************/
.field-wrapper {
  position: relative;
  padding: 1.5rem 0 1rem 0;
}
.combined-field {}
.compact {
  padding: 0.5rem 0 1rem 0;
}
.compact label {
  display: block;
}
.field-wrapper input[type=text], .field-wrapper input[type=password], .field-wrapper select, .field-wrapper textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: #1e88e5 solid 1px;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  color: #333;
  font-family: 'Heebo', sans-serif;
}
.filter-bar select, .filter-bar input[type=text] {
  padding: 8px 5px;
  font-size: 1rem;
  border: #ccc solid 1px;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
  color: #333;
}
select option {
  font-weight: 400;
}
.field-wrapper select option {
  color: #333;
}
.inner-wrapper {
  display: flex;
}
.field-wrapper input[type=text]:focus, .field-wrapper input[type=password]:focus, .field-wrapper select:focus, .field-wrapper textarea:focus {
  border-color: #ef6c00;
  box-shadow: 0 0 3px #999;
}

.field-wrapper input[type=text].input-tiny, .field-wrapper select.input-tiny, .field-wrapper textarea.input-tiny {
    max-width: 80px;
  }
.dual-field {
  width: 150px !important;
}
.field-wrapper .col2:first-child {
  padding-right: 1rem;
}
.field-wrapper .col2:last-child {
  padding-left: 1rem;
}
.static-label {
  position: absolute;
  left: 0;
  top: 0;
  color: #666;
  font-size: 1rem
}
.dynamic-label {
  position: absolute;
  color: #666;
  top: 2rem;
  left: 1rem;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.dynamic-label-fold {
  position: absolute;
  color: #666;
  font-size: 1rem;
  top: 0;
  left: 0 !important;
}
.dual-field-label {
  left: 160px;
}
.solid-label {
  display: block;
}
.inner-wrapper input:first-child, .inner-wrapper div:first-child, .inner-wrapper select:first-child {
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  border-right: none;
}
.inner-wrapper input:last-child, .inner-wrapper div:last-child, .inner-wrapper select:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
  flex: 1 1 auto;
}
.inline-edit .place-holder {
  display: block;
  padding: 0.5rem 0;
  padding-right: 30px;
  box-sizing: border-box;
}
.inline-edit .field-holder {
  display: none;
}
div.edit-trigger {
  background-image: url(../images/icon-edit.png);
  background-repeat: no-repeat;
  background-position: 100% center;
  cursor: pointer;
}
.is-editing {
  border: #ccc solid 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #ccc;
}
.is-editing label {
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
}
.is-editing .place-holder, .is-editing .edit-trigger {
  display: none;
}
.is-editing .field-holder {
  padding: 1rem;
  display: block;
}
.vcode {
  text-align: center;
  font-size: 2rem !important;
  letter-spacing: 20px;
  padding: 0.75rem !important;
}
#blocker {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(../images/rolling-blue.gif);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
  display: none;
}
input[type=text].error, select.error, textarea.error {
  border-color: #f00 !important;
}
.block-select {
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.block-select input {
  display: none;
}
.block-select > span {
  border: #ccc solid 2px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.block-select > span:hover {
  border-color: #1e88e5;
}
.block-select .bs-desc {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}
.block-select input:checked ~ span {
  border: #1e88e5 solid 2px;
  background-color: #e7f3ff;
  color: #333;
}
.bs-name {
  flex: 1 1 auto;
}
.bs-price {
  flex: 0 0 auto;
}
.bs-price span {
  text-align: right;
  font-size: 0.9rem !important;
}
/********************* Talent packages***********************/
.client-packages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.client-package {
  min-width: 200px;
  max-width: 400px;
  width: 30%;
  flex: 1 0 auto;
  padding: 0.5rem;
}
.client-package input {
  display: none;
}
.client-package span {
  display: block;
}
.client-package-wrapper {
  border: #ccc solid 1px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--color-gray-1);
  height: 100%;
  position: relative;
  padding-bottom: 1rem;
}
.client-package-header {
  background-color: #f4f4f4;
  padding: 1rem;
}
.client-package-name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-align: center;
  padding-bottom: 0.5rem;
  background-color: var(--color-gray-1);
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: #1e88e5;
}
.client-package-skill {
  font-weight: 400;
  color: #666;
}
.client-package-price {
  padding-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #ef6c00;
  font-weight: 500;
}
.client-package-time {}
.client-package-body {
  padding: 1rem;
}
.client-package-button {
  height: 2rem;
  background-color: #f4f4f4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.client-package input:checked ~ .client-package-wrapper {
  border: #1e88e5 solid 1px;
}
.client-package input:checked ~ .client-package-wrapper .client-package-name {
  background-color: #1e88e5;
  color: #fff;
}
.client-package input:checked ~ .client-package-wrapper .client-package-price {
  color: #1e88e5;
}
.client-package input:checked ~ .client-package-wrapper .client-package-header {
  background-color: #e7f3ff;
}
.client-package input:checked ~ .client-package-wrapper .client-package-button {
  background-color: #1e88e5;
}
/********************* Notifications ************************/
#notifications {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 9999;
}
.notification {
  background-color: #000;
  display: flex;
  box-shadow: 1px 2px 5px #666;
  overflow: hidden;
  cursor: pointer;
  padding: 1rem;
  color: #fff;
  font-weight: 400;
  min-width: 200px;
  max-width: 300px;
}
#quicknote {
  position: fixed;
  display: flex;
  right: 5px;
  top: 55px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 2px 8px #666;
  cursor: pointer;
  width: 300px;
}
#notify_pane {
  position: fixed;
  top: 50px;
  z-index: 998;
  max-height: 175px;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 8px #666;
  overflow: auto;
  scrollbar-width: thin;
  display: none;
  width: 300px;
}
#notify_pane::-webkit-scrollbar {
  width: 8px;
}
#notify_pane::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
#notify_pane a, #quicknote a {
  color: #333;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
  border-bottom: #efefef solid 1px;
  display: flex;
  cursor: pointer;
}
#quicknote a {
  border: none;
  border-radius: 3px;
}
#notify_pane a:hover, #quicknote a:hover {
  text-decoration: none;
  background-color: #e7f3ff;
}
#notify_pane a:last-child {
  border: none;
  border-radius: 0 0 3px 3px;
}
#notify {
  cursor: pointer;
}
#notify_pane a img, #quicknote a img {
  max-width: 48px;
  align-self: flex-start;
  border-radius: 48px;
  margin-right: 0.5rem;
}
#notify_pane a span, #quicknote a span {
  align-self: center;
}
#notify_pane a label {
  display: block;
  font-size: 0.9rem;
  color: #999;
}
#notify_pane a.unseen {
  color: #1e88e5;
}
/*
.notification-icon {
	width: 50px;
	background-color: #1e88e5;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/icon-info-white.png);
}
.notification-msg {
	padding: 1rem;
	flex: 1 1 auto;
}
.nfsuccess {
	background-color: #DCFFD7;
}
.nfsuccess .notification-icon {
	background-image: url(../images/icon-tick-white.png);
	background-color: #2e9a1c;
}
.nferror {
	background-color: #ffe2c7;
}
.nferror .notification-icon {
	background-image: url(../images/icon-alert-white.png);
	background-color:  #ef6c00 ;
}*/
/*************************Spacing****************************/
.vpadding {
  padding: 1rem 0;
}
.hpadding {
  padding: 0 1rem;
}
.padding {
  padding: 1rem;
}
.lpadding {
  padding-left: 1rem;
}
.rpadding {
  padding-right: 1rem;
}
.lpadding2, .rpadding2 {
  padding-left: 0;
  padding-right: 0;
}
.sep {
  height: 1rem;
}
.sep1 {
  height: 0.5rem;
}
.sep2 {
  height: 2rem;
}
.gap {
  display: none;
}
.gap1 {
  display: inline-block;
  width: 1rem;
}
.padding > .padding, .padding > .hpadding {
  padding: 0;
}
.hr {
  border-top: #ccc solid 1px;
}
.flex-space {
  flex: 1 1 auto;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.inline-editor {
  padding: 2rem;
  margin: 1rem 0;
  border: #ccc solid 1px;
}
.citypick {
  text-transform: capitalize;
}
/***** Block elemnts *******/
.min-info .min-info-row {
  /*padding: 0.5rem 2rem;*/
  padding: 1rem 0;
}
.min-info-row {
  border-bottom: var(--color-gray-1) solid 1px;
  padding: 1rem 0;
}
.min-info .min-info-row:last-child {
  border-bottom: none;
}
.min-info-row.packages {
	padding: 1rem;
}
.min-info-desc {
  font-weight: 300;
  display: block;
  line-height: 1.8rem;
  font-size: 1rem;
}
.mini-info-name {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  line-height: 2.4rem;
}
.mini-info-detail {
  padding-bottom: 0.5rem;
  display: flex;
  font-size: 1rem;
  color: #666;
}
.mini-info-detail div {
  width: 25%;
  box-sizing: border-box;
  font-weight: 400;
}
.list-select {
  display: flex;
  border-bottom: var(--color-gray-1) solid 1px;
}
.list-select > div {
  padding: 0.75rem;
}
.list-select:last-child {
  border: none;
}
.list-select div:first-child {
  flex: 1 1 auto;
}
.list-select > div:last-child {
  text-align: right;
}
label.list-select:hover {
  background-color: #e7f3ff;
}
.list-select input ~ div {
  cursor: pointer;
}
.list-select input:checked ~ div {
  background-color: #1e88e5;
  color: #fff;
}
.list-select input {
  display: none;
}
.list-select .trash {
  width: 24px;
}
/*
.mini-info-detail div:first-child {
	padding-left:0;
	border-left:none;
}
*/
.compact-list {}
.compact-row {
  display: flex;
  padding: 0.5rem 0;
}
.compact-row > div:first-child {
  width: 150px;
  color: #999;
  padding-right: 2rem;
}
.compact-row > div:last-child {
  flex: 1 1 auto;
}
/***************************Elemnts************************/
.header-strip {
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 2px 6px #999;
}
.header {
  display: flex;
  align-items: stretch;
  padding: 5px 10px;
}
.logo-wrapper {
  align-self: center;
}
.logo-wrapper a, .logo-wrapper img {
  display: block;
  max-height: 44px;
}
nav {
  display: flex;
}
nav a {
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 8px 8px 8px;
  color: #333;
  width: 33.3%;
}
nav a:hover {
  /*background-color:  #ef6c00 ;*/
  color: #1e88e5;
  text-decoration: none;
}
.icon-menu-notify {
  background-position: center 8px;
  background-repeat: no-repeat;
  width: 48px;
  position: relative;
}
.icon-menu-notify label {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  top: 2px;
  left: 26px;
  background-color: #f00;
  border-radius: 20px;
  padding: 5px 8px;
  color: #fff;
  box-shadow: 1px 1px 4px #999
}
.user-info a, .user-info img, .user-info span {
  display: block;
  text-align: center;
}
.user-info {
  padding-top: 4px;
  width: 64px;
}
.user-info img {
  width: 36px;
  margin: auto;
  border-radius: 36px;
  border: #ccc solid 1px;
}
.user-info a {
  text-decoration: none;
  font-weight: 400;
  color: #333;
  min-width: 64px;
}
.user-info span {
  display: none;
}
.footer-strip {
  background-color: #333;
  font-size: 1rem;
}
.footer-strip * {
  color: #fff;
  font-weight: 300;
}
.footer-strip a {
  display: block;
  font-size: 1rem;
}
.footer-strip h4 {
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.footer-strip .price-change a {
	color: #1e88e5;
font-weight: 400;
}
.bottom-row {
  border-top: #ccc solid 1px;
  padding-left: 0.5rem;
}
.company-name {
  text-align: center;
  padding-bottom: 1.5rem;
}
.social-row a {
  padding: 0 0.5rem;
  width: 24px;
}
.social-row img {
  max-width: 100%;
}
.user-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #fff;
  border: var(--color-gray-1) solid 1px;
  box-shadow: 1px 4px 4px #999;
  z-index: 999;
  border-top: none;
  display: none;
}
.user-menu a {
  display: block;
  color: #333;
  padding: 0.5rem 2rem;
}
.user-menu a:hover {
  text-decoration: none;
  background-color: #ffe2c7;
}
/*********************** Icons ***********************/
a.icon-menu-find {
  background-image: url(../images/find.png);
}
a.icon-menu-join {
  background-image: url(../images/join.png);
}
a.icon-menu-about {
  background-image: url(../images/about.png);
}
a.icon-menu-contact {
  background-image: url(../images/contact.png);
}
a.icon-menu-dashboard {
  background-image: url(../images/dashboard.png);
}
a.icon-menu-booking {
  background-image: url(../images/bookmark.png);
}
a.icon-menu-payment {
  background-image: url(../images/money.png);
}
a.icon-menu-notify {
  background-image: url(../images/icon-bell.png);
}
a.icon-menu-notify-active {
  background-image: url(../images/notification-active.png);
}
a.icon-menu-home {
  background-image: url(../images/home.png);
}
a.icon-menu-mail {
  background-image: url(../images/mail.png);
}
.icon-capture {
  background-image: url(../images/capture.png);
}
.icon-trash, .icon-note {
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-trash.png);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
}
.icon-note {
  background-image: url(../images/icon-notes.png);
}
/***********************************************************/
.ic-icon {
  min-height: 20px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.ic-logo {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px;
}
.ic-phone {
  background-image: url(../images/ic-phone.png);
}
.ic-mobile {
  background-image: url(../images/ic-mobile.png)
}
.ic-email {
  background-image: url(../images/ic-email.png);
}
.ic-verified {
  background-image: url(../images/ic-verified.png);
}
.ic-private {
  background-image: url(../images/ic-locked.png);
}
.ic-public {
  background-image: url(../images/ic-global.png);
}
.ic-edit {
  background-image: url(../images/ic-edit.png)
}
.ic-clock {
  background-image: url(../images/ic-clock.webp);
}
.ic-bank {
  background-image: url(../images/ic-bank.png);
}
.ic-sms {
  background-image: url(../images/ic-sms.png);
}
.ic-whatsapp {
  background-image: url(../images/ic-whatsapp.webp);
}
.ic-primary {
  background-image: url(../images/ic-primary.png);
}
.ic-active {
  background-image: url(../images/ic-active.png);
}
.ic-disable {
  background-image: url(../images/ic-disabled.png);
}
.ic-money {
  background-image: url(../images/ic-money.png);
}
.inline-loader {
  background-image: url(../images/rolling-small-blue.gif);
  min-height: 32px;
  min-width: 32px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 0.5rem 0;
  display: flex;
}
.inline-loader span {
  display: inline-block;
  padding-left: 40px;
  align-self: center;
}
.checkout-cards {
	border-top: var(--color-gray-1) solid 1px;
	
}
.checkout-cards div {
	width: 16.66%;
	text-align: center;
}
.card-visa, .card-master, .card-amex, .card-discover, .card-jcb, .card-dc {
  background-position: 99% center;
  background-repeat: no-repeat;
  background-size: 36px auto;
}
.card-visa {
  background-image: url(../images/card-visa.png);
}
.card-master {
  background-image: url(../images/card-master.png);
}
.card-amex {
  background-image: url(../images/card-amex.png);
}
.card-discover {
  background-image: url(../images/card-discover.png);
}
.card-jcb {
  background-image: url(../images/card-jcb.png);
}
.card-dc {
  background-image: url(../images/card-dinners.png)
}

.crown {
	width: 32px;
	height: 32px;
	background-image: url("../images/crown-32.png");
	background-repeat: no-repeat;
	display: inline-block;
	background-position: center;
}

.crown-mini {
	width: 24px;
	height: 24px;
	background-image: url("../images/crown-24.png");
	background-repeat: no-repeat;
	display: inline-block;
	background-position: center;
}

/************************* Home ******************************/
.intro-strip {
  background-image: url(../images/static/home-banner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  display: flex;
  min-height: 400px;
position: relative;
	overflow: hidden;
}
.intro-strip .container {
  height: 70%;
  min-height: 400px;
  align-self: center;
	position: static;
	z-index: 10;
}
.intro-strip h1 {
  color: #fff;
  font-weight: 500;
  padding-top: 50px;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 0 0 5px #666;
  line-height: 4rem;
}
.intro-strip video {
	position: absolute;
	width: 100%;
	height: 135%;
	top: 0;
	object-fit:cover;
	z-index: 1;
	margin-top: -10%;
	background-color: transparent;
}
.strip-s1 {
  background-color: #eee;
}
.main-search-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
}
.main-search-inner {
 /* background-color: rgba(255, 255, 255, 0.7);*/
	 background-color: rgba(0, 0, 0, 0.7);color: #fff;
  box-shadow: 0 2px 8px #333;
  margin: auto;
  border-radius: 1rem;
}
.main-search-fieldset, .main-search-text {
  width: 100%;
  margin: auto;
  display: flex;
}
.main-search-fieldset {
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
}
.main-search-text {
  font-size: 1.2rem;
  padding: 1rem;
  box-sizing: border-box;
  font-weight: 400;
}
.main-search-field {
  flex: 1 1 auto;
  padding: 1rem;
  font-size: 1.2rem;
  border: #ef6c00 solid 2px;
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.main-search-field:focus {
  outline: none;
  borde-color: #ef6c00;
}
.main-search-button, .search-button, .browse_button {
  flex: 0 0 auto;
  font-size: 1.2rem;
  border: #ef6c00 solid 1px;
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-color: #ef6c00;
  width: 64px;
  background-image: url(../images/find.png);
  background-repeat: no-repeat;
  background-position: center -100px;
  cursor: pointer;
}
.main-search-button:hover, .search-button:hover {
  box-shadow: 0 0 10px #666;
}
.main-search-active, .main-search-field:focus {
  border-color: #ef6c00;
}
.service-strip {
  padding: 1rem 0;
}
.service-block {
  padding: 2rem;
}
.service-icon {
  width: 128px;
  height: 160px;
  margin: auto;
}
.service-name {
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
}
.service-desc {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
.home-category {
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
#category_professional {
  background-image: url(../images/static/home-professional.jpg);
}
#category_agency {
  background-image: url(../images/static/home-agency.jpg);
}
#category_customer {
  background-image: url(../images/static/home-customer.jpg);
}
.event-strip {
  background-color: #000;
  color: #fff;
  background-image: url(../images/static/event-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 0;
}
.profile-slider {
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
	position: relative;
}

.profile-slider .slide-pane
 {
  display: flex;
	 left: 0;
}




.faq {
  display: block;
  padding-left: 50px;
  margin-bottom: 2rem;
  background-image: url(../images/icon-faq.png);
  background-repeat: no-repeat;
  background-position: 2px 0;
  color: #000;
}
.faq span {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.faq div {
  display: nonee;
  text-decoration: none;
  display: block;
  background-color: #fff;
  padding: 1rem;
  color: #333;
  border-radius: 3px
}

/******************** Tooltip *********************************/
.tooltip {
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-tooltip.png);
  position: absolute;
  right: 5px;
  top: 38%;
  z-index: 100
}
.tooltip span {
  width: 165px;
  position: absolute;
  top: 15px;
  right: 24px;
  background-color: #fff;
  padding: 0.5rem;
  color: #333;
  font-size: 1rem;
  line-height: 1.4rem;
  box-shadow: 0 30px 40px var(--color-gray-1);
  background: #fef9e7;
  display: none;
  transition: all 0.4s;
}
.tooltip:hover span, .tooltip.active span {
  display: block;
}
/******************** Search ******************************/
.talent-search-bar {
  padding: 1rem 0;
}
.category-container {
  position: relative;
}
.talent-search-a, .talent-search-b {
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.search-field, .category-field, .location-field, .date-field {
  padding: 1rem;
  font-size: 1.2rem;
  border: #ef6c00 solid 1px;
  border-width: 2px 1px 2px 2px;
  flex: 1 1 auto;
  width: 50%;
  box-sizing: border-box;
}
.location-field {
  border-right-width: 2px;
  border-radius: 5px 0 0 5px;
}
.search-field:focus, .category-field:focus, .location-field:focus, .date-field:focus {
  border-color: #ef6c00 !important;
  box-shadow: 0 0 10px #666;
  outline: none;
}
.search-field {
  flex: 1 0 auto;
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 5px 0 0 5px;
  min-width: 80px;
}
.category-field {
  border-radius: 0;
}
.browse_button {
  border-radius: 5px;
  background-image: url("../images/arrow-big-down.png");
  background-position: center;
  margin-left: 1rem;
}
.browse_button.open {
  background-image: url("../images/arrow-big-up.png");
}
.search-categories {
  padding: 1rem;
  background-color: #fff;
  /*background-color:rgba(0,0,0,0.9);*/
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 2px 6px #ccc;
}
.category-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.category-wrapper > div {
  width: 100%;
}
.category-wrapper .option-wrapper {
  display: flex;
  padding: 0.25rem 1rem;
  flex-wrap: wrap;
}
.search-categories h2 {
  color: #1e88e5;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem;
  line-height: 1.3rem;
  background-color: #efefef;
  margin: 0 1px;
}
.search-categories a {
  color: #333;
  width: 100%;
  cursor: pointer;
  line-height: 1.8rem;
}
.search-categories a:hover {
  color: #ef6c00;
}
#search_complete {
  background-color: #fff;
  position: absolute;
  z-index: 2;
  margin: 0 5px;
}
#search_complete div {
  box-shadow: 0 5px 8px #999;
}
#search_complete a {
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: var(--color-gray-1) solid 1px;
  color: #333;
  cursor: pointer;
}
#search_complete a:hover, #search_complete a.selected {
  text-decoration: none;
  background-color: #1e88e5;
  color: #fff;
}
#search_complete a span {
  color: #000;
  font-weight: 500;
}
.clear-field {
  width: 24px;
  height: 24px;
  background-image: url(../images/close-squre.png);
  opacity: 0.2;
  position: absolute;
  right: 1px;
  top: 1rem;
  cursor: pointer;
  display: none;
}
.clear-field-first {
  right: 4.5rem;
}
.clear-field-middle {
  right: 50%;
}
.talent-search-a {
  /*margin-bottom: 1rem;*/
}
#search-result-container {
  min-height: 400px;
}
#search-results {
  padding: 1rem 0;
}
#search-results .panel, .full-width {
  border-radius: 0;
}
.result-block, #search-results .result-block {
  margin: 1rem 0;
  box-sizing: border-box;
  background-color: #fff;
  display: block;
  box-shadow: 0 3px 10px #ccc;
  position: relative;
}
#search-results .result-block {
  padding: 0;
  animation: 0.4s ease-out 0s 1 slideInFromLeft;
  transform-style: preserve-3d;
}
.result-block:hover {
  box-shadow: 0 3px 15px #999;
}
.result-block-inner {
  display: flex;
  height: 100%;
	overflow: hidden;
}
.block-image {
  width: 50%;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
.block-image a {
  flex: 1 1 auto;
  background-color: #f4f4f4;
}
.block-image a, .block-image img, #search-results .block-image img {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.block-info {
  padding: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.block-upper {
  flex: 1 1 auto;
}
.block-name {
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.block-name a {
  color: #1e88e5;
  font-size: 1.4rem;
}
.block-categoty {}
.block-location {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: #666;
  text-transform: capitalize;
  font-style: normal;
}
.block-button-bar {
  text-align: right;
  padding-top: 1px;
}
.block-button-bar a {
  padding: 0.75rem 1rem;
  border: none;
  background-color: #1e88e5;
  text-align: center;
  color: #fff;
  display: block;
}
.block-button-bar a:hover {
  text-decoration: none;
  box-shadow: 2px 2px 5px #ccc;
}
	.block-button-bar.disable a {
		background-color: var(--color-gray-2);
		padding:0.75rem 0.25rem;
	}
#search-paging {
  text-align: center;
  padding-bottom: 2rem;
}
.search-loader {
  width: 100%;
  margin: 2rem;
  background-color: transparent;
}
.search-loader div {
  width: 250px;
  margin: auto;
  min-height: 64px;
  padding-left: 64px;
  background-image: url(../images/rolling-orange.gif);
  background-color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 8px center;
  border: #ccc solid 1px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 64px;
}
.favorite {
  width: 24px;
  height: 24px;
  background-image: url(../images/heart-empty.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}
.favorite.added {
  background-image: url(../images/heart-fill.png);
}
/***************** Result block customization for slider******/
.profile-slider {
	transition: all 1s;
	min-height: 400px;
}
.profile-slider .result-block {
	width:auto;
	margin: 0.5rem;
}

.profile-slider .result-block-inner {
	display: block;
}

.profile-slider .slide-pane {
	transition: all 0.5s linear;
	position: absolute;
}
.profile-slider .block-image {
	width: 250px;
	height: 250px;
	max-width: 250px;
}
.profile-slider .block-button-bar{
	display: none;
}
.profile-slider a.favorite{
	display: none;
}
.profile-slider .left-nav, .profile-slider .right-nav {
	background-image: url("../images/arrow-big-left.png");
	width: 64px;
	height: 64px;
	background-size: contain;
	left:0.25rem;
	top: 40%;
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	cursor: pointer;
	border-radius: 64px;

}
.profile-slider .right-nav {
	left: auto;
	background-image: url("../images/arrow-big-right.png");
	right: 0.25rem;
}
/***************** Event Agenda ****************************/
.agenda {
  padding: 1rem 0;
}
.agenda-row, .agenda-row-free {
  padding: 1rem 0;
  border-bottom: var(--color-gray-1) solid 1px;
  border-left: #c0392b solid 5px;
  position: relative;
}
.agenda-row-free {
  border-left: #43a047 solid 5px;
  background-color: #f1f8e9;
}
.agenda-row:first-child, .agenda-row-free:first-child {
  border-top: #ccc solid 1px;
}
.agenda-time {
  font-size: 1.4rem;
  font-weight: 500;
}
.agenda-time .gap {
  display: block;
  align-self: center;
}
.agenda-time span {
  display: block;
  color: #999;
  font-size: 1rem;
  padding-right: 0.5rem;
  font-weight: 400;
}
.agenda-desc {
  padding-left: 1rem
}
.agenda-desc .title {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.agenda-desc .note {
  margin-top: 1rem;
  font-style: italic;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 3px;
}
.agenda-talents {
  min-width: 200px;
}
/********************** Animation**************************/
@keyframes slideInFromLeft {
  0% {
    transform: rotateY(90deg);
    ;
  }
  100% {
    transform: rotateY(0deg);
  }
}
/********************** Booking ***************************/
.talent-booking-profile {
  overflow: hidden;
  margin-bottom: 1rem;
	box-shadow: 0 5px 10px #ccc;
	border-radius: 1rem;
}
.talent-booking-image {
  position: relative;
}
.talent-booking-image img {
  width: 100%;
  display: block;
}
.talent-booking-detail {
  padding:1rem;
}
.talent-booking-name {
  font-weight: 500;
  font-size: 1.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.talent-booking-skills {
  font-weight: 300;
}
.talent-booking-place {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.talent-booking-link {
  text-align: right;
  padding: 1rem;
  align-self: flex-end;
}
.booking-login {
  background-color: #ffe2c7;
  padding: 0 1rem;
}
.booking-login-left {}
.booking-login-right {
  box-sizing: border-box;
  border-left: #999 solid 1px;
}
.event-selection .dash-info-top {
  flex-wrap: nowrap;
}
.event-selection .dash-info-right {
  min-width: 8rem;
}
.price-row {
  display: flex;
  border-bottom: #ccc solid 1px;
}
.price-row div {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.price-row div:first-child {
  flex: 1 1 auto;
}
.price-row div:last-child {
  flex: 0 0 auto;
  width: 100px;
  font-size: 1.3rem;
  align-self: center;
  text-align: right;
}
.price-row span {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}
.pm-message {
  border: #ccc solid 1px;
  box-shadow: 0 2px 8px #ccc;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
}
.pm-header {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #abebc6; /* #efefef; */
}
.pm-success, .pm-failur, .pm-information {
  background-repeat: no-repeat;
  background-position: 15px center;
  padding-left: 64px;
}
.pm-success {
  background-image: url(../images/icon-tick-green.png);
  background-color: #abebc6; /* #309a1c;*/
}
.pm-failur {
  background-image: url(../images/icon-alert-white.png);
  background-color: #e03e25;
}
.pm-information {
  background-image: url(../images/icon-info-white.png);
  background-color: #1e88e5;
}
.pm-info {
  padding: 1rem;
  border: #ccc solid 1px;
  border-width: 1px 0 1px 0;
  font-size: 1.2rem;
}
.pm-body {
  padding: 1rem;
}
.pm-message .button-container {
  padding: 1rem 2rem 2rem 2rem;
}
.success-banner, .error-banner {
  background-color: #81c784;
  padding:1rem;
 
  box-sizing: border-box;
 
  color: #fff;
  line-height: 2.6rem;
  font-size: 1.5rem;
	border-radius: 0.5rem 0.5rem 0 0;
}
.success-banner div, .error-banner div {
	background-image: url(../images/icon-tick-white.png);
  	background-position: 20px center;
	background-repeat: no-repeat;
	width: 250px;
	margin: auto;
	padding-left: 75px;
	font-weight: 500;
}
.error-banner {
	background-color: #f1948a;
}
.error-banner div {
	background-image: url(../images/icon-info-white.png);
}
/********************** Signup ****************************/
.panel {
  border: var(--color-gray-1) solid 1px;
  border-radius: 5px;
}
.scroll {
  scrollbar-width: thin;
  overflow: auto;
  padding: 5px;
}
.autocenter {
  margin: auto;
}
.active-panel {
  /*display:*/
}
.signup-logo {
  padding-bottom: 2rem;
  text-align: center;
}
.legal {
  padding-bottom: 2rem;
  font-weight: 300;
}
.captcha {
  padding: 1rem;
}
.signup-art {
  text-align: center;
  position: relative;
}
.space_block {
  padding: 1rem;
}
.splash {
  max-width: 450px;
  margin: auto;
}
.tabs {
  display: flex;
}
.tabs a {
  padding: 0.5rem 3rem 0.5rem 0;
  color: #666;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: var(--color-gray-1) solid 2px;
  width: 25%;
}
.tabs a:hover {
  text-decoration: none;
  color: #000
}
.tabs a.active {
  color: #ef6c00;
  font-weight: 500;
  border-bottom: #ef6c00 solid 4px;
  margin-bottom: -2px;
}
.right-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
  text-align: center;
  padding-top: 1rem !important;
}
.right-banner h1 {
  text-shadow: 2px 0 6px #000;
}
.account-selection {
  flex: 0 0 auto;
  display: none;
}
.account-selection img {
  width: 100%;
  display: block;
}
.phone-code {
  border-radius: 3px 0 0 3px !important;
  border-right: none !important;
  width: 20% !important;
}
.phone-number {
  border-radius: 0 3px 3px 0 !important;
  border-left: none !important;
  width: 80% !important;
}
.page_profile_image {
  width: 150px;
  padding: 15px;
  position: relative;
  cursor: pointer;
}
.page_profile_image img {
  display: block;
  border-radius: 100px;
  width: 100%;
  border: var(--color-gray-1) solid 1px;
}
.page_profile_image a, .page_banner_image a {
  background-image: url("../images/capture.png");
  position: absolute;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  left: 74px;
  bottom: 0px;
}
.page_banner_image {
  max-width: 250px;
  position: relative;
  cursor: pointer;
}
.page_banner_image img {
  display: block;
  width: 100%;
  border: var(--color-gray-1) solid 1px;
}
.page_banner_image a {
  left: 109px;
}
.page-share-button {
  background-color: #3b5998;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background-image: url("../images/fb-share-button.png");
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  padding-left: 3rem;
  color: #fff;
  box-shadow: 0 2px 6px #999;
  cursor: pointer;
}
.page-share-button:hover {
  box-shadow: 0 2px 10px #666;
  text-decoration: none;
}

.social-buttons {
	background-color: #1b80e4;
	padding: 1rem;
	color: #fff;
	padding-left: 42px;
	font-weight: 500;
	background-position: 10px center;
	background-repeat: no-repeat;
	display: block;
	border-radius: 0.5rem;
	cursor: pointer;
}
.signup-facebook {
	background-image: url("../images/social/facebook-signup.png");
	
}
.signup-google {
	background-image: url("../images/social/google-signup.png");
}

input.filled  {
	background-image: url("../images/icon-tick-green.png");
	background-position: 100% center;
	background-repeat: no-repeat;
	
}

/********************** Regieter ****************************/
#register {
  max-width: 800px
}
/********************** context menu *****************************/
.context-menu {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 1px;
  top: 1rem;
  background-image: url(../images/context-menu-small.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: #ccc solid 1px;
  background-color: #fff;
}
#contextmenu {
  position: absolute;
  background-color: #fff;
  border: #ccc solid 1px;
  box-shadow: 2px 2px 8px #999;
  border-bottom: none;
  z-index: 199;
  border-radius: 3px;
}
#contextmenu a, #dropdown a {
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: #ccc solid 1px;
  color: #333;
  cursor: pointer;
  min-width: 80px;
	background-color: var(--color-cream);
}
#contextmenu a:hover, #dropdown a:hover {
  text-decoration: none;
  background-color: #1e88e5;
  color: #fff;
}
#dropdown {
  position: fixed;
  z-index: 1003;
  box-shadow: 2px 0 8px #999;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 75%;
  overflow: auto;
  background-color: #fff;
  transition: all 0.3s;
  padding-top: 3.5rem;
}
#dropdown .header {
  text-transform: capitalize;
  background-color: #ef6c00;
  color: #fff;
  padding: 0;
  font-size: 1.4rem;
  position: fixed;
  left: 0;
  right: 0;
  margin-top: -3.5rem;
}
#dropdown .header div {
  padding: 1rem;
}
.header-close {
  cursor: pointer;
}
/********************** Dialog ******************************/
@keyframes dialog-show {
  0% {
    transform: translate(0, 100px) rotateX(90deg);
    /* transform:  translate(0, 100px) scale(0.1) rotateX(90deg);*/
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotateX(0deg);
    /*  transform:  translate(0, 0) scale(1) rotateX(0deg);*/
    opacity: 1;
  }
}
@keyframes dialog-hide {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 100px) rotateX(90deg);
    opacity: 0;
  }
}
.dialog {
  position: fixed;
  background-color: #fff;
  /*border:#999 solid 1px;*/
  z-index: 1002;
  box-shadow: 0px 5px 20px #666;
  min-width: 200px;
  min-height: 100px;
  overflow: hidden;
  border-radius: 1rem;
}
.dialog-show {
  transition: all 1s;
  animation-name: dialog-show;
  animation-duration: 0.4s;
  transform-origin: bottom center;
}
.dialog-hide {
  transition: all 1s;
  animation-name: dialog-hide;
  animation-duration: 0.4s;
  transform-origin: bottom center;
}
.dialog-header {
  display: flex;
  background-color: #efefef;
}
.dialog-title {
  font-size: 1.2rem;
  font-weight: 500;
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  cursor: move;
}
.dialog-close {
  width: 32px;
  text-align: center;
  color: #ccc;
  line-height: 36px;
}
.dialog-close:hover {
  color: #333;
  text-decoration: none;
}
.dialog-body {
  padding: 1rem;
  box-sizing: border-box;
  min-height: 5rem;
}
.dialog-buttons {
  text-align: right;
  display: flex;
}
.dilog-buttons-right {
  display: flex;
}
.dilog-buttons-center {
  flex: 1 1 auto;
}
.dialog-buttons a {
  border-radius: 0;
  width: 50%;
  flex: 1 1 auto;
}
.mask {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
  display: none;
}
.borderless {
  padding: 0;
}
.popup-message {
  width: 400px;
}
/********************** Login box  **************************/
.login-container {
  padding: 2rem 0;
}
.login-wrapper {
  display: flex;
}
.login-image {
  box-sizing: border-box;
  width: 33.3%;
  background-image: url(../images/performer.png);
  background-repeat: no-repeat;
  min-height: 340px;
  background-size: contain;
  background-color: #ffe2c7;
  background-position: center;
  display: none;
}
.center-panel {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}
.social-login {
  display: flex;
  flex-wrap: wrap;
}
a.social-login-button {
  width: 45%;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: 5px;
  padding-left: 42px;
  background-repeat: no-repeat;
  background-position: 5px center;
  min-width: 240px;
  cursor: pointer;
}
a.social-login-button:hover {
  text-decoration: none;
}
.social-login-button span {
  padding: 0.5rem;
  display: block;
}
/*
.social-fb {
	color: #fff;
	background-color: #3a5ba0;
	background-image: url(../images/icon-fb.png);
}
.social-tw {
	color: #fff;
	background-color: #2ca7e0;
	background-image: url(../images/icon-twitter.png);
}
.social-gl {
	color: #666;
	border: #999 solid 1px;
	background-image: url(../images/icon-google.png);
}
.social-ln {
	color: #fff;
	background-color: #0e76a8;
	background-image: url(../images/icon-linkedin.png);
}*/
.otp-email {
  color: #666;
  border: #999 solid 1px;
  background-image: url(../images/icon-email.png);
}
.otp-phone {
  color: #666;
  border: #999 solid 1px;
  background-image: url(../images/icon-mobile.png);
}
.inline-flag {
  height: 1rem;
  margin-right: 5px;
}
#login_country_select {
  display: none;
}
/*****************  Status illustrator ***********************/
.status-illustrator {
  display: flex;
}
.status-box {
  position: relative;
  z-index: 3;
}
.transition-box {
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
}
.status-name {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  position: absolute;
}
.status-wrapper {
  margin: 1.6rem 0 1.6rem 0;
  width: 36px;
  height: 36px;
  background-color: #ffd54f;
  border-radius: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/icon-question-yellow.png);
  z-index: 2;
}
.status-date {
  text-align: center;
  padding-top: 0.5rem;
  line-height: 1.1rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}
.transition-box {
  background-color: #ffd54f;
  align-self: center;
  margin: 0 -5px;
  z-index: 1;
  border-radius: 0 10px 10px 0;
}
.transition-progress {
  height: 8px;
  background-color: #309a1c;
  border-radius: 0 10px 10px 0;
  width: 0;
}
.status-box:last-child .status-date, .status-box:last-child .status-name {
  right: 0;
}
.ils-complete {
  background-image: url(../images/icon-tick-green.png);
  background-color: #309a1c;
}
.ils-close {
  background-image: url(../images/icon-close-black.png);
  background-color: #333;
}
/***************** Custom Componets **************************/
/* Customize the label (the container) */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.2rem;
}
.custom-checkbox:last-child {}
/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: #ccc solid 1px;
  border-radius: 3px;
}
/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #1e88e5;
  border-color: #1e88e5;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/******************* Custom option selection *****************
/* Customize the label (the container) */
.custom-option {
  display: block;
  position: relative;
  padding: 8px;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: #ccc solid 1px;
  border-radius: 3px;
  box-sizing: border-box;
}
.custom-option-selected {
  border-color: #1e88e5;
  background-color: #1e88e5;
  color: #fff;
}
/* Hide the browser's default checkbox */
.custom-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.custom-option .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  background-color: #eee;
  border: none;
}
/* On mouse-over, add a grey background color */
.custom-option:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.custom-option input:checked ~ .checkmark {
  background-color: #1e88e5;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.custom-option input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.custom-option .checkmark:after {
  left: 12px;
  top: 10px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom-option.business {
  background-image: url(../images/icon-business-light.png);
  background-position: 99% center;
  background-repeat: no-repeat;
}
/** Custom on/off type checkbox */
.onoffswitch-switch {
  display: block;
  width: 16px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 86px;
  border: 1px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #999;
}
.onoffswitch {
  position: relative;
  width: 120px;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-inner::after {
  content: "DISABLE";
  value: '0';
  background-color: #f4f4f4;
  color: black;
  text-align: right;
  padding-right: 1rem !important;
}
.onoffswitch-inner::before {
  content: "ACTIVE";
  value: '1';
  background-color: #1e88e5;
  color: #FFFFFF;
  padding-left: 2rem !important;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
/************************ Time picker ***************************/
.timepicker {
  border: #ccc solid 1px;
  width: 50%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  position: absolute;
  z-index: 100;
  min-width: 250px;
  max-width: 350px;
}
.tp-outer {
  display: flex;
}
.tp-left {
  width: 75%;
}
.tp-right {
  width: 25%;
  align-self: stretch;
  border-left: #ccc solid 1px;
}
.tp-header {
  text-align: center;
  text-transform: uppercase;
  background-color: #ccc;
  font-size: 0.8rem;
  line-height: 1.5rem;
  border-top: #ccc solid 1px;
}
.tp-wrapper {}
.tp-row {
  display: flex;
}
.tp-row a {
  box-sizing: border-box;
  cursor: pointer;
  color: #333;
  padding: 1rem;
  text-align: center;
}
.tp-row a:hover {
  text-decoration: none;
}
.tp-hour a {
  width: 25%;
}
.tp-minutes {
  flex-direction: column;
  text-align: center;
  height: 90%;
}
.tp-minutes a {
  flex: 1 1 auto;
}
.tp-ampm a {
  width: 50%;
}
.timepicker a.selected {
  background-color: #1e88e5;
  color: #fff;
}
.timepick, .dateinput {
  /*	font-size: 1.4rem!important;*/
}
.timepick:focus, .dateinput:focus {
  border-radius: 3px 3px 0 0 !important;
}

/********************* Tags **********************/
#tag_list, .suggest_tag {
	display: flex;
	flex-wrap: wrap;
}
.tag {
	padding: 0.3rem 1rem;
	margin: 0 1rem 1rem 0 ;
	border:var(--color-gray-2) solid 1px;
	border-radius: 3rem;
	flex:0 0 auto;
	background-color: var(--color-gray-1);
	padding-left: 3rem;
	background-image: url("../images/tag.png");	
	background-repeat: no-repeat;
	background-position: 0.5rem center;
	cursor: pointer;
	transition: all 0.4s;
}
.tag:hover, .top-result .tag:hover {
	background-color: var(--color-blue);
	color: #fff;
	border-color: var(--color-blue);
}

.suggest_tag a {
	padding: 0.3rem 1rem;
	margin: 0 1rem 1rem 0 ;
	border:var(--color-gray-2) solid 1px;
	border-radius: 3rem;
	flex:0 0 auto;
	padding-left: 3rem;
	background-image: url("../images/tag.png");	
	background-repeat: no-repeat;
	background-position: 0.5rem center;
	cursor: pointer;
	transition: all 0.4s;
}
.suggest_tag a:hover {
	background-color: var(--color-gray-1);
	text-decoration: none;
}

.top-result .tag {
	background-color: #fff;
}
.top-result .more-link {
	margin-bottom: 1rem;
}
.top-expand {
	margin-bottom: 1rem !important;
}
/******************* Jumper widget *******************/
.jumper {
  display: flex;
}
.jump-label {
  border: var(--color-gray-1) solid 1px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.1rem;
}
.jumper a {
  border: var(--color-gray-1) solid 1px;
  background-repeat: no-repeat;
  background-position: center;
  width: 15%;
  min-width: 2.5rem;
  height: 3rem;
  background-color: #f4f4f4;
  cursor: pointer;
}
.jumper a:hover {
  background-color: #e7f3ff;
}
.jumper span {
  vertical-align: super;
  font-size: 80%;
}
.jumper a:first-child {
  border-right: 0;
  border-radius: 5px 0 0 5px;
  background-image: url(../images/half-left-arrow.png);
}
.jumper a:last-child {
  border-left: 0;
  border-radius: 0 5px 5px 0;
  background-image: url(../images/half-right-arrow.png);
}
.jumper .filter-bar {
  width: 70%;
}
.jumper .filter-bar select, .jumper .filter-bar input[type=text] {
  max-width: auto !important;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4rem;
}
#week_name {
  font-size: 1.4rem;
  line-height: 1.4rem;
  width: 100%;
}
.filter-month {
  width: 100%;
}
.filter-month div {
  width: 50%;
}
.filter-month div select {
  width: 100%;
}
/******************** Profile image crop tool ***********/
.pi-crop {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
#pi-canvas, #bi-canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#pi-image, #pi-image {
  z-index: 109;
  transition: 0.4s all;
  display: block;
}
#pi-profile, #pi-activement {
  position: absolute;
  background-image: url(../images/profile-crop-mask.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 110;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#pi-activement {
  background-image: url(../images/achivement-crop-mask.png);
}
#pi-front {
  position: absolute;
  z-index: 111;
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  cursor: move;
}
.bi-crop {
  left: 0;
  top: 50px;
  right: 0;
  height: 520px;
  width: 1920px;
  background-color: #fff;
  z-index: 1024;
  position: absolute;
  display: none;
  overflow: hidden;
}
#bi-canvas {
  cursor: move;
}
#bi-image, #pi-image {
  display: block;
}
#bi-buttons {
  background-color: #efefef;
  top: 570px;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: right;
  position: absolute;
  min-height: 50px;
  border: var(--color-gray-1) solid 1px;
  box-sizing: border-box;
  z-index: 100;
  display: none;
  box-shadow: 1px 3px 4px #999;
}
.zoom-tools {
  position: absolute;
  z-index: 112;
  right: 10px;
  left: 10px;
  top: 10px;
  display: flex;
  background-color: #efefef;
  border: #ccc solid 1px;
}
.zoom-in, .zoom-out {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto;
}
.zoom-in {
  background-image: url(../images/zoom_in.png);
}
.zoom-out {
  background-image: url(../images/zoom_out.png);
}
/********************* Dash info row ***********************/
.dash-info-row {
  border-radius: 3px;
  margin-bottom: 1.5rem;
  border: var(--color-gray-1) solid 1px;
  background-color: #fff;
  box-shadow: 0px 0px 3px var(--color-gray-1);
  cursor: pointer;
  position: relative;
  min-height: 110px;
}
.dash-header-wrapper .button {
  width: auto;
}
/*
.dash-info-row a {
	color: #1e88e5;
}*/
.row-status {
  background-color: #007CFF;
  right: 1rem;
  top: -0.75rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 5px 12px 4px 12px;
  border-radius: 1rem;
  min-width: 100px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
#booking-list .row-status, #bookings .row-status {
  position: absolute;
  z-index: 2;
}
.dash-info-top {
  padding: 1rem 1rem 0 1rem;
  min-height: 58px;
  display: flex;
  flex-wrap: wrap;
}
.dash-info-left {}
.dash-info-right {
  width: 100%;
}
.dash-info-middle {
  padding: 0.5rem 1rem;
}
.dash-info-bottom {
  padding: 0.5rem 1rem;
  background-color: #e7f3ff;
  display: flex;
}
.dash-info-bottom a {
  padding: 0.5rem;
  width: 50%;
  text-align: center;
  border-top: var(--color-gray-1) solid 1px;
  border-left: var(--color-gray-1) solid 1px;
}
.dash-info-bottom a:hover {
  background-color: #f4f4f4;
  text-decoration: none;
}
.dash-info-bottom a:first-child {
  border-left: none;
}
.dash-info-bottom div {
  min-width: 100px;
  width: 33.33%;
  padding-right: 1rem;
  flex: 1 1 auto;
  font-size: 1rem;
}
.dash-info-bottom div span {
  display: block;
  line-height: 1.2rem;
  font-size: 0.9rem;
  color: #999;
  text-transform: uppercase;
}
.dash-info-pic {
  /*	min-height:82px;*/
  margin-right: 1rem;
}
.dash-info-pic img {
  width: 80px;
  height: 80px;
  border: #999 solid 1px;
  border-radius: 80px;
  display: block;
}
.dash-info-left {
  flex: 1 1 auto;
}
.dash-info-right {
  line-height: 1.8rem;
  color: #333;
  margin-top: 5px;
}
.with-picture .dash-info-pic img {
  position: absolute;
  z-index: 1;
}
.with-picture .dash-info-pic {
  margin: 0;
}
.with-picture > div.dash-info-top > .dash-info-left {
  padding-left: 100px;
}
.with-picture > .dash-info-middle {
  padding-left: 1rem;
}
.dash-info-name {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.dash-info-place {
  font-size: 1rem;
  color: #666;
}
.dash-info-place span, .dash-info-desc span {
  display: inline-block;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: #ccc solid 1px;
}
.dash-info-place span:first-child, .dash-info-desc span:first-child {
  padding: 0;
  margin: 0;
  border: none;
}
.dash-info-desc span {
  /*font-weight: 300;*/
}
.dash-info-status {
  padding-top: 0.5rem;
}
.dash-info-status span {
  display: inline-block;
  padding: 5px 1rem;
  text-transform: uppercase;
  overflow: auto;
  line-height: 1rem;
  font-size: 1rem;
}
.dash-info-status a {
  float: right;
}
.dash-info-date {
  font-size: 1.2rem;
  display: inline-block;
}
.dash-info-time {
  font-weight: 300;
  display: inline-block;
}
.dash-info-menu {
  background-image: url(../images/q-menu-black.png);
  position: absolute;
  right: 0;
  top: 5px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
}
.selected-block {
  background-color: #e7f3ff !important;
  border-color: #1e88e5;
  box-shadow: 0 0 5px #999;
}
/********************* Address results ********************/
.address_result {
  border: #ccc solid 1px;
  border-bottom: none;
  box-shadow: 0 4px 10px 0 #ccc;
  display: none;
}
.address_result a {
  padding: 0.5rem 1rem;
  display: block;
  border-bottom: #ccc solid 1px;
}
.address_result a:last-child {
  border-bottom: #bbb solid 1px;
}
/********************** Time slider *********************/
.timeslider {
  display: flex;
  padding: 15px 0;
  position: relative;
}
.timebar {
  width: 1.5rem;
}
.timebar div {
  height: 4px;
  border-bottom: #fff solid 1px;
}
.timebar div.busy {
  background-color: #ef5350;
}
.timebar div.free {
  background-color: #4caf50
}
.datebar {
  flex: 1 1 auto;
}
.datebar div {
  color: #666;
  font-size: 10px;
  line-height: 4px;
  height: 4px;
  border-bottom: #fff solid 1px;
  width: 6rem;
  text-align: right;
}
.datebar div.sdate, .datebar div.stime {
  border-bottom: #efefef solid 1px;
}
.datebar div.sdate {
  color: #333;
  font-weight: 600;
}
.slidingbox {
  left: 0;
  position: absolute;
  display: flex;
}
.slider {
  width: 1.5rem;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5)
}
.timebox:before {
  content: " ";
  height: 20px;
  width: 20px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  left: -11px;
  border: #ccc solid 1px;
  border-width: 0 0 1px 1px;
  top: 13px;
}
.timebox {
  background-color: #fff;
  border: #ccc solid 1px;
  margin-left: 2rem;
  position: relative;
  display: flex;
  border: #ccc solid 1px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #ccc;
  margin-top: -15px;
  cursor: pointer;
}
.timedisplay {
  width: 6rem;
  text-align: right;
  padding-right: 0.5rem;
  align-self: center;
}
.selectbtn {
  width: 10rem;
  text-align: right;
}
#timeslider_btn {
  border-radius: 5px;
  padding: 0.5rem 2rem;
}
/***********************animations****************************/
@keyframes slideIn {
  0% {
    transform: translate(0, 200px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideleftIn {
  0% {
    transform: translate(-200px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes sliderightIn {
  0% {
    transform: translate(200px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.transit {
  transition: all 1.5s;
}
.fade, .slide, .slideleft, .slideright {
  visibility: 0;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}
.slideIn {
  animation-name: slideIn;
  animation-duration: 1.5s;
}
.slideleftIn {
  animation-name: slideleftIn;
  animation-duration: 1.5s;
}
.sliderightIn {
  animation-name: sliderightIn;
  animation-duration: 1.5s;
}
/******************** Bio support *************************/
#bio {
  padding: 2rem 1rem;
  margin-top: 1rem;
  display: none;
}
.bio-option {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
}
.bio-option div {
  padding-bottom: 0.5rem;
}
.bio-option span {
  font-size: 1rem;
  color: #999;
}
.exclusive {
	width: 220px;
	height: 36px;
	background-image:url("../images/static/exclusive.png");
	background-repeat: no-repeat;
	position: absolute;
	bottom: -1rem;
	left: -10px;
}
/*************************************************************/
/* Extra small devices (phones, 480px and up) */
@media only screen and (min-width: 480px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .account-selection {
    display: block;
    width: 250px;
    margin-right: 1rem;
  }
  .search-categories a {
    width: 50%;
  }
  .company-name {
    text-align: left;
    padding-bottom: 0
  }
  #contextmenu a, #dropdown a {
    padding: 0.5rem 1rem;
	  background-color: #fff;
  }
  #contextmenu {
    border: #ccc solid 1px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .intro-strip {
    background-image: url(../images/static/home-banner-hd.jpg);
  }
  .intro-strip .container {
    height: 600px;
  }
  .fullheight {
    min-height: 600px;
  }
  .service-strip {
    padding: 5rem 0;
  }
  .main-search-bar {
    bottom: 50px;
  }
  .main-search-inner {
    width: 600px;
  }
  .main-search-fieldset {
    border-radius: 0 0 3px 3px;
  }
  .main-search-text {
    border-radius: 3px 3px 0 0;
  }
  .vertical-box a {
    margin-bottom: 0;
  }
  .vertical-box a {
    width: 170px;
    margin-right: 25px;
  }
  nav {
    top: 0;
    align-items: stretch;
    position: relative;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  nav a {
    width: auto;
    font-size: 1.1rem;
    padding: 15px 15px 8px 15px;
  }
  .user-info {
    align-self: center;
    margin-left: 1rem;
    cursor: pointer;
  }
  .user-info a {
    display: flex;
    padding: 1px 10px 1px 1px;
    border: #ccc solid 1px;
    border-radius: 36px;
  }
  .user-info a:hover {
    border-color: #1e88e5;
  }
  .user-info img {
    width: 24px;
    height: 24px;
    border: none;
  }
  .user-info span {
    display: block;
    padding: 2px 0 0 5px;
    max-width: 100px;
    overflow: hidden;
    font-size: 12px;
    min-width: 40px;
  }
  .logo-wrapper img {
    display: block;
  }
  .header-strip {
    margin-bottom: 0;
    height: 50px;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  .mobile-column {
    display: block;
  }
  .desktop-column {
    display: none;
  }
	.column-seperated > div, .left-border {
	padding: 0 2rem;
  }
  .tabs a {
    width: auto;
  }
  .talent-search-bar {
    flex-wrap: no-wrap;
    position: relative;
  }
  .search-field, .category-field, .location-field, .date-field {
    border-width: 2px 1px 2px 2px;
  }
  .search-field {
    flex: 1 1 auto;
    margin: 0;
  }
  #search-results .result-block {
    margin: 1%;
  }
  .category-field, .location-field {
    width: 150px;
    border-radius: 0;
    text-transform: capitalize;
  }
  .talent-search-a, .talent-search-b {
    box-sizing: border-box;
  }
  .date-field {
    width: 130px;
    border-radius: 0;
  }
  .talent-search-a {
    margin-bottom: 0;
    flex: 1 1 auto;
  }
  .field-wrapper input[type=text].input-short, .field-wrapper select.input-short, .field-wrapper textarea.input-short {
    max-width: 350px;
    display: block;
    flex: 0 0 auto;
  }
  .field-wrapper input[type=text].input-tiny, .field-wrapper select.input-tiny, .field-wrapper textarea.input-tiny {
    max-width: 100px;
  }
  .option-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .option1 label {
    width: 100%;
    margin-bottom: 8px;
  }
  .option2 label {
    width: 48%;
    margin: 0.5rem 1%;
  }
  .option3 label {
    width: 31%;
    margin: 8px;
  }
  .field-wrapper .col2 {
    box-sizing: border-box;
  }
  .button {
    min-width: 120px;
  }
  .login-container {
    padding: 2rem 0;
  }
  .login-image {
    display: block;
  }
  .center-panel {
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
  }
  a.social-login-button {
    width: 40%;
  }
  .to-left, .to-right {
    padding: inherit;
  }
  .button {
    width: auto;
    padding: 0.5rem 2rem;
  }
  .block-button-bar a {
    display: inline-block;
  }

  .button-large {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
  .columns {
    display: flex;
  }
  .column-2 {
    box-sizing: border-box;
    width: 50%;
  }
  .column-3 {
    box-sizing: border-box;
    width: 33.3%;
  }
  .column-4 {
    box-sizing: border-box;
    width: 25%;
  }
  .column-31 {
    box-sizing: border-box;
    width: 66.6%;
  }
  .column-41 {
    box-sizing: border-box;
    width: 75%;
  }
  .column-2, .column-3, .column-4, .column-31, .column-41 {
    padding: 0;
  }
.column-seperated > div, .left-border {
    border-right: var(--color-gray-1) solid 1px;
	padding: 0 1rem;
	 border-bottom:none;
  }
  .column-seperated > div:first-child {
    padding-left: 0;
  }
  
  .column-seperated > div:last-child {
    border-right: none;
  }
  .columns .col2 {
    width: 50%;
    box-sizing: border-box;
  }
  .columns .col3 {
    width: 33.33%;
    box-sizing: border-box;
  }
  .columns .col31 {
    width: 66.66%;
    box-sizing: border-box;
  }
  .columns .col4 {
    width: 25%;
    box-sizing: border-box;
  }
  .columns .col41 {
    width: 75%;
    box-sizing: border-box;
  }
  .left-column {
    order: 0;
  }
  .right-column {
    order: 1;
  }
  .mobile-column {
    display: none;
  }
  .desktop-column {
    display: block;
  }
  .left-content {
    padding-bottom: 0;
    padding-right: 2rem;
  }
  .right-content {
    padding-bottom: 0;
    padding-left: 2rem;
  }
	
  .mobile-gray, .mobile-orange {
    background-color: transparent;
  }
  #search-results {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
  }
  .result-block {
    width: 48%;
    margin: 1%;
  }
  .block-image {
    flex: 0 0 auto;
    max-width: auto;
    /*max-width: 225px;*/
    max-width: 200px;
  }
  .block-info {
    flex-direction: row;
  }
  .option2 label {}
  .login-container {
    padding: 2rem 0 5rem 0;
  }
  .login-image {
    display: block;
    border-radius: 5px 0 0 5px;
  }
  .align-top {
    padding-top: 0;
  }
  .vsep {
    border-right: #ccc solid 1px;
  }
  .lpadding {
    padding-left: 1rem;
  }
  .rpadding {
    padding-right: 1rem;
  }
  .left-border {
    border-left: var(--color-gray-1) solid 1px;
    background-color: transparent;
  }
  .button-container {
    display: flex;
    align-items: center;
  }
  .button-wrapper a {
    width: auto;
  }
  .gap {
    display: inline-block;
    width: 2rem;
  }
  .padding > .padding {
    padding: 1rem;
  }
  .padding > .hpadding {
    padding: 0 1rem;
  }
  .space_block {
    padding: 1rem 0;
  }
  .home-category {
    min-height: 700px;
  }
  .info-body {
    min-height: 65px;
    padding-right: 1rem;
  }
  .dash-info-top {
    display: flex;
    flex-wrap: no-wrap;
  }
  .dash-info-right {
    padding-top: 0;
    width: auto;
  }
  .dash-info-left {
    min-height: auto;
    min-height: 80px;
  }
  .dash-info-date, .dash-info-date {
    display: block;
  }
  .clear-field-first {
    right: 4.5rem;
  }
  .agenda-row, .agenda-row-free {
    display: flex;
  }
  .agenda-desc {
    padding: 0
  }
  .agenda-time {
    font-size: 1.2rem;
  }
  .with-picture > .dash-info-middle {
    padding-left: 115px;
  }
	#search-results .panel, .full-width {
	  width: 100%;
	  margin: 0 1rem;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 950px;
    padding: 0;
  }
  .section-container {
    width: 950px;
    margin: auto;
  }
  .main-search-inner {
    width: 800px;
  }
  .content {
    padding: 0;
  }
  .category-wrapper > div {
    width: 50%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
  .vertical-box a {
    width: 200px;
  }
  #search-results .result-block {
    margin: 1%;
    width: 31.33%;
  }
  .option2 label {}
}
@media only screen and (min-width: 1240px) {
  .container {
    width: 1200px;
  }
}
@media only screen and (min-width: 1921px) {
  .intro-strip {
    background-image: url(../images/static/home-banner.jpg);
  }
}